[2015-10-12 18:43] Norm- opened #6 "Application exe is crashing in linux"

[2015-10-12 18:49] princejwesley commented on #6
@Norm- can you confirm whether `gulp debug` works? I am facing segfault when built as an executable.

[2015-10-12 18:57] Norm- commented on #6
It doesn't.

I got the same output as above only with a different ID.

I am guessing the answer is buried somewhere in that link.

[2015-10-12 19:03] princejwesley commented on #6
@Norm- Please set  ` electron-prebuilt` version in `package.json` as `0.30.0` , give `npm update` and try.

[2015-10-12 20:16] Norm- commented on #6
That worked.

I get the same error again but now the app launched.

Thanks for the REPL, btw. I need something like the ipython notebook.

[2015-10-12 20:29] princejwesley commented on #6
@Norm- yes, Hopefully in next version :+1:

[2015-10-13 03:05] xgrommx opened #7 "Include some library to repl"
Hi @princejwesley. How can I include some library like a lodash to repl?

[2015-10-13 03:35] princejwesley commented on #7
@xgrommx Use `File > Add module Path...` menu item to add lodash module path to REPL or set NODE_PATH env variable.

[2015-10-13 03:52] xgrommx commented on #7
No, I want add it permanently =) @princejwesley

[2015-10-13 03:55] princejwesley commented on #7
@xgrommx I'll add support for that and let you know :+1:

[2015-10-13 17:29] ZucchiniZe opened #8 "Would it be possible to run this in the browser?"
Since this is just electron, can't you just run this in broswer?

[2015-10-13 19:19] senthilporunan commented on #8
No browser support. We made it for desktop application.

[2015-10-13 19:19] #8 closed

[2015-10-15 12:52] pmros opened #9 "Secure sandbox (while(true){})"
Hi!
I'm thinking about create a Node REPL based on Electron and I've found Mancy! Great job! Very very nice!
I don't know yet how Mancy eval/run input code but I've tried this code
[code]
and Mancy hangs completely (Node CLI REPL hangs too). But it would be nice if you could stop/cancel the last execution (infinite loop in this case) and continue working with Mancy. I think Mancy would need to exe

[2015-10-15 12:55] princejwesley commented on #9
:+1:  I'll fix in next release.

[2015-10-15 13:07] princejwesley commented on #9
@pmros Thanks for your valuable comments :ok_hand:

[2015-10-15 18:27] pmros opened #10 "console is light using dark theme"
Console (right panel) is light even using dark theme. It should be dark using dark theme.
Thank you.

[2015-10-16 08:30] pmros opened #11 "Click on prompt (">")"
When you click on prompt (">"), it only changes its orientation. Tooltip says "expand command", should it work like minimize/maximize buttom?

[2015-10-16 08:40] pmros opened #12 "Focus on prompt line"
If you click, for example, a minimize buttom, you lose focus on prompt line. So you have to click on prompt line to write again. I think prompt line should be focus all the time or mostly. Click an empty space of main panel, should focus prompt line. Maybe keypress event too.
These are only suggestions. I hope they help you. Mancy is great!

[2015-10-16 08:40] princejwesley commented on #11
Yes for multiple line commands.

![before](https://cloud.githubusercontent.com/assets/1622515/10537418/4bf77d0c-740f-11e5-8e15-45e2f2483324.png)

Collapsed:
![after](https://cloud.githubusercontent.com/assets/1622515/10537419/4eaa7234-740f-11e5-8714-6a4fecb537bf.png)

[2015-10-16 08:40] #11 closed

[2015-10-16 08:42] princejwesley commented on #12
Thanks. I'll incorporate it in version 2. Some of your suggestions are already done but are not ready for release. Wait for 3 weeks :smile:

[2015-10-16 12:32] pmros commented on #12
I've tried v2 branch and looks good!

[2015-10-16 22:46] AutoSponge opened #13 "Compat table"
I think it would be helpful to see, at a glance, what language features are supported in the REPL. Maybe as an added feature have the ability to toggle available features.

[2015-10-16 22:58] princejwesley commented on #13
@AutoSponge  Do we need to disable available features?

BTW, version 2(available in 3 weeks) has support to enable/disable babel integration.

[2015-10-16 23:29] jfsiii opened #14 "Provide feedback for unsupported features/unexecutable code"
I can find no way to execute `const usesRest = (first, ...rest) => console.log(first, rest)` in Mancy.

Pressing `ENTER` behaves like `SHIFT+ENTER` (adds blank lines).

I looked for documentation on what features were supported (#13), but couldn't find any. I assume rest parameters are not supported because the line is evaluated if I replace `...rest` with `rest`.

There should be some feedback to

[2015-10-16 23:43] princejwesley commented on #14
@jfsiii Please make sure there is no typo in the command. Mancy delegates the request to node repl and if node responds saying continue the same command, you will see this behavior.

For instance, if we type `x = { ` and enter, repl expects more input. Sometimes, we have to break the command (ctrl + c) if anything goes wrong.

Try the same command in node repl and check the behavior. In version 2,

[2015-10-16 23:49] princejwesley commented on #14
@jfsiii Current electron backed node gives this output.

![image](https://cloud.githubusercontent.com/assets/1622515/10555539/2d54c5d8-748e-11e5-994b-20a2b98199a5.png)

[2015-10-16 23:51] jfsiii commented on #14
@princejwesley There's not a typo, [it's valid code][babel_repl]

I assume it doesn't work because the feature isn't supported in the engine this uses, but that's only an assumption because there's no docs on engine or supported features (#13).

BTW, which node repl? Does Many have one or does it use the system node? Big feature differences between 0.10.x, 0.12.x & 4.x.

[babel_repl]: https://babe

[2015-10-16 23:54] jfsiii commented on #13
@princejwesley Sorry if this is off-topic, but is the babel integration a single toggle?

It'd be great to enable all features >= a given stage or (stretch goal) [individual features](https://github.com/tc39/ecma262/#current-proposals) (e.g. Array.prototype.includes)

[2015-10-16 23:55] princejwesley commented on #14
@jfsiii Yes. Mancy uses electron's node repl. This issue can be fixed if we treat all continuations as errors but only problem is, we have to use shift + enter always for multiple commands.

[2015-10-16 23:59] princejwesley commented on #13
@jfsiii No, its not a single toggle, we can configure babel options in preference window. what is your recommentation?

[2015-10-17 00:29] AutoSponge commented on #13
@princejwesley I'm with @jfsiii, `Array#includes` is one of those polyfills that's not included by default but I use it all the time. I wonder if the entire .babelrc should be under user control with some ability to swap between common combinations.

[2015-10-17 00:30] princejwesley commented on #13
:+1:

[2015-10-17 06:52] pmros opened #15 "Syntax highlight as you type"
Code you type has no syntax highlight until you press enter. I think that if you use codemirror or ace instead highlight.js, you would get live syntax highlight (and maybe another interesting features).
Thank you again.

[2015-10-17 06:58] pmros opened #16 "Multiline code is evaluated multiple times"
Multiline code (shift+enter) is evaluated multiple times (as many as lines).

Example:

2+2;
2

1+1;
2+2;
4

I think is not necessary Mancy show 1+1 result, only last line (2+2 = 4) that is the global result form entire input code,

[2015-10-17 23:38] princejwesley commented on #16
Fixed in v2.

[2015-10-17 23:39] princejwesley commented on #14
Fixed in version 2.

[2015-10-17 23:40] princejwesley commented on #10
Fixed in version 2.

[2015-10-17 23:42] princejwesley commented on #9
Fixed in version 2

[2015-10-19 07:43] Alxandr opened #17 "Please provide windows installers"
There is a npm package for creating windows installers out of electron projects IIRC. Would be really nice to have an installer.

[2015-10-19 07:56] senthilporunan commented on #17
We are having windows supported version for both 32 bit and 64 bit. You can download it from here.

https://github.com/princejwesley/Mancy/releases

[2015-10-19 07:58] Alxandr commented on #17
Yes. I didn't say "windows supported versions". I said a "windows installer". You know, a exe/msi that you run, that unpacks all the files at all the right places, and create shortcuts where you want them etc.

[2015-10-19 08:02] senthilporunan commented on #17
ok we will try to  add them in next version.

[2015-10-19 08:11] Alxandr commented on #17
In case you didn't know, there is as said a npm package for making windows installers for electron apps: https://www.npmjs.com/package/electron-installer-squirrel-windows

[2015-10-19 08:45] princejwesley commented on #17
@Alxandr For installers, we have to buy digitial certificates from reputed certificate authorities and renew it every year.

[2015-10-19 09:38] Alxandr commented on #17
@princejwesley https://github.com/atom/grunt-electron-installer#sign-your-installer-or-else-bad-things-will-happen

Or, you know, you can just not sign it. Sure, signed would be nicer, cause it doesn't trigger smartscreen filter, but still, it's a free service you're providing, that I choose to install on my own risk. I don't expect it to be signed.

[2015-10-19 16:18] zeke opened #18 "How are you using this in your normal development flow?"
Hello. I'm intrigued by this project. I just installed it and played around a bit. I see that it has some [nice features](https://github.com/princejwesley/Mancy#features) that you can't get from a regular node repl, but it's not immediately clear to me what I would use this tool for on day-to-day basis.

How are you using it?

[2015-10-20 05:23] princejwesley commented on #18
@zeke Few thoughts:
* Helps to learn javascript (for those who are new to js)
* Helps to test few lines of code or expression
* We can try npm module before using it in code
* Trying new language features

[2015-10-22 16:02] ccnokes opened #19 "Enhancement idea: automatically require core node modules"
Using the traditional node REPL from the terminal on Mac OS X, I don't have to `require` core node modules. For example:

[code]
But in Mancy that'll throw a ReferenceError. I've always liked that ability in the terminal because it allows for quickly iterating on something, which is what I use REPLs for. Mancy is cool, nice work :+1:

[2015-10-22 16:06] princejwesley commented on #19
@ccnokes Yes. Its available in [version 2](https://github.com/princejwesley/Mancy/wiki/Features-&-Roadmap-for-version-2)

[2015-10-22 16:08] princejwesley commented on #19
@ccnokes Its a bug, I missed to add os into context. Fix will be available in version 2.

[2015-10-22 16:31] princejwesley commented on #19
Fix is available in v2 branch.

[2015-10-23 17:30] paradox41 opened #22 "Window Resizing (OSX)"
I don't seem to be able to resize the window past certain points. Please see attached gif.

OSX 10.10.5

![mancy](https://cloud.githubusercontent.com/assets/2791730/10700191/12721a94-798a-11e5-9e08-ddf9f629f3e2.gif)

[2015-10-23 17:32] princejwesley commented on #22
@paradox41 I'll look into that. it could be electron bug.

[2015-10-23 17:34] paradox41 commented on #22
Great! Thanks for looking into it. If it is a bug with electron, I'm
willing to file it there as well.
On Oct 23, 2015 1:33 PM, "Prince John Wesley" <notifications@github.com>
wrote:

[2015-10-23 17:40] princejwesley commented on #22
@paradox41 Its not a electron bug. Fix will be available in v2 branch.

[2015-10-23 18:05] paradox41 commented on #22
Awesome. Thank you for the quick turn around.
On Oct 23, 2015 1:40 PM, "Prince John Wesley" <notifications@github.com>
wrote:

[2015-10-23 22:07] pmros opened #23 "Mancy has no icon"
Mancy has no icon. So there is a generic (and ugly) icon at my taskbar. I use Arch Linux.

This should be easy to fix. [A stackoverflow related question](http://stackoverflow.com/questions/31529772/setting-app-icon-for-electron-atom-shell-app).

[2015-10-25 09:25] pmros commented on #10
preference panel is light using dark theme

[2015-10-25 09:36] pmros opened #24 "Object output: show constructor name"
I know you can expand "Object" item and the expand "__proto__" item and then you have constructor name. But I think it would be useful look constructor name at first glance.

Example:
[code]
now you get:
[code]
I think it would be better something like this:
[code]

Thank you.

[2015-10-25 11:37] princejwesley commented on #24
Fixed in v2.

[2015-10-25 14:15] pmros opened #25 "Collapsable error output"
It think error outp should be collapsed by default.

Example (wrong) input:
[code]
Now you get this output:
[code]
It would be nicer this way:
[code]
click on ( >)  to view error details

[2015-10-25 14:45] princejwesley commented on #25
Fixed in v2.

[2015-10-25 21:40] pmros opened #26 "async/await"
[Babel transform: enabled]

Input:
[code]
Output:
[code]
Expected output:
[code]

However if you code only this line:
[code]
you get no error (right) and x() returns a promise (right).
Then, if you code this line:
[code]
you get another promise (!) and it should return 100.

[2015-10-26 01:25] princejwesley commented on #26
@pmros `async` auto wrapper for `awake` is handled for simple pattern as below:
[code]
and it will transformed to
[code]
If you feed expressions one after another, you will get expected result(pull latest code).

![image](https://cloud.githubusercontent.com/assets/1622515/10719404/4223d806-7bae-11e5-9ba9-db391f296bd1.png)

[2015-10-26 05:51] pmros commented on #26
It would be nice if you could enable/disable await wrapper at preference panel.

[2015-10-26 06:45] princejwesley commented on #26
@pmros In your case, it was not wrapped since its not a candidate for wrapping and `await` is not valid construct outside `async`.

[2015-10-26 12:23] pmros commented on #26
I understand. What I was trying is something like this:
[code]
On [Tonic](https://tonicdev.com/) you get the same result just coding this:
[code]
I guess Tonic autowrap all your input code.

Whatever it's OK for me now I know how it works. Thank you.

[2015-10-26 13:49] princejwesley commented on #26
@pmros I'll look into this approach of all `async` before v2 release. thanks

[2015-10-26 17:55] princejwesley commented on #26
Contextify the wrapped calls is the challenge. Tonic has no such problem (I guess).

[2015-10-30 18:42] whokilledtheelectricmonk opened #28 "[Enhancement] Image preview inline"

[2015-10-30 18:44] princejwesley commented on #28
@whokilledtheelectricmonk Version 2 has this support.

[2015-10-30 19:16] felipebueno opened #29 "Evaluarion error"
Hi!

First, thanks for this great project. I'm learning Jaavscript (ES6) and React and it's the nicest repl I've found.

I think there's a problem with the evaluation:

[code]

I tested it on Firefox's console and it works fine.

![gif](http://g.recordit.co/5B6coqT2M2.gif)

[2015-10-30 19:23] princejwesley commented on #29
@felipebueno  Working fine for me. I'll try to reproduce it.

![image](https://cloud.githubusercontent.com/assets/1622515/10855798/a53d10e2-7f69-11e5-9152-cddf4a37f9a7.png)

[2015-10-30 19:26] felipebueno commented on #29
Oh, nevermind. I've found the problem.

What happens is that I had defined this function before but forgot the ```return n;``` on the last line. Then I fixed that hoping that the function would be redefined but it wasn't.

[2015-10-30 19:27] princejwesley commented on #29
@felipebueno :smile:

[2015-10-30 19:31] felipebueno commented on #29
But I think it'd be useful to be able to redefine functions without restarting the repl, wouldn't it?

[2015-10-30 19:34] princejwesley commented on #29
@felipebueno  There is a open bug in node vm(https://github.com/nodejs/node/issues/548).

For time being, use like this:

[code]

[2015-10-30 19:38] felipebueno commented on #29
@princejwesley Thanks! :smile: :+1:

[2015-10-30 19:39] princejwesley commented on #29
@felipebueno I'll keep this issue open till the `vm` issue fixed and new version rolled out.

[2015-10-31 22:44] patrickgaskill opened #30 "Don't use enter to autocomplete"
It's kind of a pain to evaluate short variables quickly since the autocomplete gets in the way. For example, I can't quickly type `n` and then hit enter, since it autocompletes to `new`. Considering that this is a REPL and you'd expect people to want to hit enter pretty often to evaluate things, doing autocomplete feels wrong to me.

[2015-10-31 22:47] princejwesley commented on #30
@patrickgaskill I'll disable autocomplete selection on enter :+1:

[2015-11-01 02:59] princejwesley commented on #30
Made it optional and turned off by default. (fixed in v2 branch)

[2015-11-01 06:43] LeKeve opened #31 "OSX installation instructions not working"
Hello! Love the project. Just one issue I had so far:

Running `npm install` then `npm run package` does not initiate the application.

I had to run `gulp start` or `npm start`.

[2015-11-01 06:56] natejlee commented on #31
I've had the same issue.

Needed to look through the gulp file to find proper gulp task to get the app running

[2015-11-01 09:37] princejwesley commented on #31
@LeKeve @natejlee `npm run package` will build an executable and save it in `./dist` directory(for click & open). I'll update the documentation.

[2015-11-04 04:10] maowug commented on #7
It would be perfect if it can be done like import from the REPL like
`import "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"`

[2015-11-04 07:41] princejwesley commented on #7
@maowug [Version 2 features](https://github.com/princejwesley/Mancy/wiki/Features-&-Roadmap-for-version-2) are completed. Its available in `v2` branch.
You can do `require('lodash')` or any npm module to download to application's user data path.

[code]

[2015-11-04 08:33] maowug commented on #7
Great! :+1:

[2015-11-04 16:03] patrickgaskill commented on #30
Thanks!

[2015-11-05 23:22] princejwesley commented on #30
Merged to master

[2015-11-05 23:22] #30 closed

[2015-11-05 23:22] princejwesley commented on #28
Merged to master

[2015-11-05 23:22] #28 closed

[2015-11-05 23:27] princejwesley commented on #31
Merged to master

[2015-11-05 23:27] #31 closed

[2015-11-05 23:27] princejwesley commented on #9
Merged to master

[2015-11-05 23:27] #9 closed

[2015-11-05 23:28] princejwesley commented on #7
Merged to master

[2015-11-05 23:28] #7 closed

[2015-11-05 23:28] princejwesley commented on #10
Merged to master

[2015-11-05 23:28] #10 closed

[2015-11-05 23:29] princejwesley commented on #16
Merged to master

[2015-11-05 23:29] #16 closed

[2015-11-05 23:29] princejwesley commented on #24
Merged to master

[2015-11-05 23:29] #24 closed

[2015-11-05 23:29] princejwesley commented on #22
Merged to master

[2015-11-05 23:29] #22 closed

[2015-11-05 23:30] #18 closed

[2015-11-05 23:30] princejwesley commented on #15
Merged to master

[2015-11-05 23:30] #15 closed

[2015-11-05 23:31] princejwesley commented on #25
Merged to master

[2015-11-05 23:31] #25 closed

[2015-11-05 23:31] princejwesley commented on #19
Merged to master

[2015-11-05 23:31] #19 closed

[2015-11-05 23:31] princejwesley commented on #26
Merged to master

[2015-11-05 23:31] #26 closed

[2015-11-05 23:31] princejwesley commented on #13
Merged to master

[2015-11-05 23:31] #13 closed

[2015-11-05 23:32] princejwesley commented on #14
Merged to master

[2015-11-05 23:32] #14 closed

[2015-11-06 18:27] pmros opened #34 "Ideas for Mancy 3.0"
Mancy 2.0 is here! And it's really nice but I'm thinking of Mancy 3.0 from right now. I think the next big thing should be plugins support (like Atom pacakages). There could be the following types of plugins:
  - R (Read). Plugins related to code editor, autosuggestions, etc.
  - E (Eval). Plugins to eval code written at another languages (CoffeScript, TypeScript, etc.).
  - P (Print). Plugins for

[2015-11-06 18:42] princejwesley commented on #34
@pmros For now, I am thinking about fixing version 2 bugs(most likely will come :smile:). I have got request to support coffeescipt. we can target that.

[2015-11-07 04:04] boneskull opened #36 "custom repl"
I like what [n_](https://www.npmjs.com/package/n_) is doing.  Though this module likely is too specific to simply make a user preference, it'd be really swell if Mancy allowed you to wrap its REPL with a custom one.

Would this be possible?  Is this something you'd be interested in supporting?

Great work. :+1:

[2015-11-07 04:05] boneskull commented on #36
(plugin support?)

[2015-11-07 04:12] princejwesley commented on #36
@boneskull n_ - lodash plugin? I am not sure what it offers

[2015-11-07 06:06] boneskull commented on #36
in node's REPL you are not allowed to assign a variable to `_`

n_ wraps the REPL so `_` becomes lodash.

but this is just an example of a custom REPL.  for instance, [johnny-five](http://johnny-five.io) offers a custom REPL.  it'd be awesome if Mancy could support this sort of functionality.

[2015-11-07 06:11] princejwesley commented on #36
@boneskull there is no special meaning for `_`(underscore) in Mancy `v2.0.0`. we can assign anything to it like lodash or underscore.js

[2015-11-07 06:13] boneskull commented on #36
that's cool.

[2015-11-07 08:09] #36 closed

[2015-11-07 13:32] xgrommx commented on #7
@princejwesley How about another think like a RxJS or smth like?

[2015-11-07 14:25] princejwesley commented on #7
@xgrommx I am not sure what you are asking. loading reactive js?

[2015-11-07 14:30] xgrommx commented on #7
@princejwesley now I can load `const _ = require('lodash')` but I also would like use Rx like so `const Rx = require('rx')`

[2015-11-07 14:35] princejwesley commented on #7
@xgrommx  it will work in version 2.0.1.
![image](https://cloud.githubusercontent.com/assets/1622515/11015609/c25ae902-858a-11e5-929a-bf2f70cd73b8.png)

[2015-11-07 14:39] xgrommx commented on #7
@princejwesley thanks!

[2015-11-07 18:35] djds4rce opened #37 "Support for history"
Support for recalling old command execution. It would be better if the commands are stored in a file so that they can applied between sessions. Props for implementing Ctrl+R for searching through History.

[2015-11-07 18:36] djds4rce opened #38 "Requiring external node modules takes a very long time"
Not sure if this is a fixable issue but currently it takes a very long time to require external node modules.

[2015-11-07 19:10] princejwesley commented on #38
@djds4rce we can add module paths either by `File -> Add module paths...`  or by setting `NODE_PATH`. Downloading module will happen only when there is no module with given name available in lookup path.

[2015-11-07 20:41] xgrommx opened #39 "Chart view works only for two and more collection."
Hi @princejwesley. I tried to use smth like `let b = {x: [1,2,3,4,5]};` but for this one doesn't work a chart view. For `let b = {x: [1,2,3,4,5], y: [4,5,6,7,8]};` it's working correctly. Also I have another question about a prompt symbol. How can I change this one?

[2015-11-07 22:28] thesabbir opened #40 "Clear screen shortcut"
In nodej.s REPL or bash we can use `Control + L' to clear the screen. I think it's missing from mancy :).

[2015-11-07 23:09] princejwesley commented on #40
Clear all mapped to <kbd>cmd</kbd> + <kbd>k</kbd>(mac) or <kbd>ctrl</kbd> + <kbd>k</kbd>(win/linux). I'll remap to `L` in next release.

![image](https://cloud.githubusercontent.com/assets/1622515/11017814/49e8ce2e-85d2-11e5-8387-c0bfc3e8b86f.png)

![image](https://cloud.githubusercontent.com/assets/1622515/11017810/26e6d1b4-85d2-11e5-8e61-f801107200cd.png)

[2015-11-07 23:09] #40 closed

[2015-11-07 23:21] princejwesley commented on #39
@xgrommx No provision to change the prompt symbol. Except active editing prompt, rest of the prompts are clickable actions to expand/collapse long commands.

Regarding chart, we need two fields at least to display it. if you want to see chart for single field **data**, you may have to cheat(:smile:) it by doing `let b = {x: [1,2,3,4,5], y:[]}`

![image](https://cloud.githubusercontent.com/assets/1

[2015-11-07 23:56] xgrommx commented on #39
@princejwesley I tried this trick but ok :smile_cat:

[2015-11-08 01:08] princejwesley commented on #39
@xgrommx Enabled now :+1:

[2015-11-08 01:09] #39 closed

[2015-11-08 01:18] princejwesley commented on #38
Building install/uninstall window will help.

[2015-11-08 04:23] xgrommx opened #41 "Build fails under npm v3"
@princejwesley I cannot rebuild Mancy on windows. I have errors about mime module.

[2015-11-08 04:53] senthilporunan commented on #41
@xgrommx  can you give full error here.. For me it is working good in windows7 ..

[2015-11-08 06:31] boneskull opened #42 "feature request: custom stylesheets"
I'd like to do two things, specifically:

1.  I want to change the fixed-width font to be Menlo.
2.  I want to remove the "watermark" in the background.

I've done this in my fork, but in doing so, I noticed the themes are somewhat tightly coupled.

My suggestion is:

1.  Allow the user to place a custom SCSS theme in an appropriate location (on MacOS X, this may be `~/Library/Application Support/

[2015-11-08 06:47] boneskull commented on #41
@xgrommx If you're using npm v3.x, try with v2.x instead.  This worked for me after having problems building on MacOS X.

[2015-11-08 06:47] boneskull commented on #41
this ticket should be renamed; "Build fails under npm v3"

[2015-11-08 06:52] djds4rce commented on #38
I built the latest 2.0 build yesterday. Wont the NODE_ENV be picked up from my path?

[2015-11-08 08:48] itsgg opened #44 "Add support for "Check for Update..""

[2015-11-08 12:38] princejwesley commented on #44
@itsgg we have updates notification displayed in status bar. we can add `check for upate... ` too.
![image](https://cloud.githubusercontent.com/assets/1622515/11020350/2e5e014e-8643-11e5-915e-5508e0fd15b5.png)

[2015-11-08 12:47] princejwesley commented on #41
@xgrommx  [#43](https://github.com/princejwesley/Mancy/issues/43) PR helps ?

[2015-11-08 13:46] xgrommx commented on #41
@princejwesley Looks like it's solved. Thanks

[2015-11-08 13:56] xgrommx commented on #41
@princejwesley Another problem. After rebuild I don't have interface such on version 2.0.1. This is my result. But in dev mode it's working correctly.
![mancy - repl 0 2015-11-08 15 54 33](https://cloud.githubusercontent.com/assets/1499594/11020726/4b9246b0-8631-11e5-8f65-43d1f0610268.png)

[2015-11-08 16:29] princejwesley commented on #44
done :+1:

[2015-11-08 16:29] #44 closed

[2015-11-08 16:30] princejwesley commented on #41
@xgrommx let me try to reproduce it

[2015-11-08 19:31] boneskull commented on #41
@princejwesley This is not unique to windows; I have the same problem *but only when running with npm v3*

[2015-11-08 19:31] pmros commented on #41
Same problem here. But I'm using Linux.

I can run
[code]
with no errors. Executable is generated at dist directory. But when I launch it, Mancy has no prompt (like xgrommx screenshot). However menu works (ie "About Mancy").

By the way, I uncommented [this line](https://github.com/princejwesley/Mancy/blob/master/gulpfile.babel.js#L262) and it worked OK (no crash). I use latest electron-prebuilt v

[2015-11-08 19:40] boneskull commented on #41
cursory test against `master` (as of this writing) under NodeJS v5.0.0 with npm v3.3.6 fails.

[2015-11-08 19:41] boneskull commented on #41
best guess is that the code makes some assumptions about certain packages existing in `node_modules`, while npm v3 puts them somewhere else.

[2015-11-08 19:47] pmros commented on #42
By default, I think watermark background should be replaced by Mancy logo (>_). Even more, actual background includes a emoji and many operating sytem has no emoji support (at least by default).

[2015-11-08 19:59] boneskull commented on #42
fwiw, I see the emoji in MacOS X, but my IDE (PyCharm) doesn't display it.

[2015-11-08 20:03] princejwesley commented on #41
@xgrommx Tried against node `v5.0.0` and npm `v3.3.12` in OSX. No issues. let me try it in linux

[2015-11-08 20:08] pmros commented on #41
node v5.0.0 and npm v3.3.12 in Linux (Arch Linux).

[2015-11-08 20:39] boneskull commented on #41
@princejwesley did you `rm -rf node_modules` after switching versions?

[2015-11-08 20:40] xgrommx commented on #41
@princejwesley I rebuild it again, doesn't work.

[2015-11-08 20:46] princejwesley commented on #41
@boneskull No. I just gave npm install. let me try now.

[2015-11-08 20:53] princejwesley commented on #41
@boneskull I can reproduce it. thanks.

[2015-11-08 20:57] princejwesley commented on #41
Identified the issue. I'll fix and let you guys know

[2015-11-08 22:33] princejwesley commented on #41
@boneskull @xgrommx @pmros npm 3 flattens the dependency structure. Fixed gulp task to handle it.

[2015-11-08 22:59] pmros commented on #41
@princejwesley It work for me at Linux! So you could change note about Linux at README and add a Linux executable to next release (2.0.3). Good job! Thank you!

[2015-11-08 23:07] princejwesley commented on #41
@pmros its not working for me (elementary OS 0.3.1 Freya). `rm -rf node_modules` and `npm install` might help. I'll try that.

[2015-11-09 02:08] jincdream opened #45 "Can't type Chinese! Sad."

[2015-11-09 02:35] princejwesley commented on #45
@jincdream I don't know how to test it. I could able to type something using `Pinyin Simplified` keyboard layout.
![image](https://cloud.githubusercontent.com/assets/1622515/11024675/f192606e-86b7-11e5-903a-e744eaaff17d.png)

You can turn off auto complete`(Preferences...` > `Disable automatic auto complete`) if it hinders you.

I may need your help since I don't know which keyboard layout to set,

[2015-11-09 04:14] jincdream commented on #45
After I input pinyin cannot choose words.

You can try type `lin`,but just 'n' is showed,and the selector is gone.

The normal situation is like this:
![k 73_u bkj0qu 6d22 6b3](https://cloud.githubusercontent.com/assets/4645261/11025492/90f43d4e-86d6-11e5-836d-57d22503b42f.jpg)

![399f0804-2ae1-49ee-ba3a-64515697d567](https://cloud.githubusercontent.com/assets/4645261/11025508/bd1d6e04-86d6-11e5-8

[2015-11-09 04:29] princejwesley commented on #45
@jincdream Identified the issue. I'll fix and let you know

[2015-11-09 04:35] jincdream commented on #45
ok,I am waiting.

[2015-11-09 05:13] princejwesley commented on #45
@jincdream Can you try the latest code?

[2015-11-09 06:27] jincdream commented on #45
node.js v5.0.0 or v0.12.7

[2015-11-09 06:32] princejwesley commented on #45
@jincdream v4.1.2 or v5.0.0

[2015-11-09 06:41] princejwesley commented on #45
![image](https://cloud.githubusercontent.com/assets/1622515/11027409/fae3e49e-86da-11e5-8c70-e6d2fdbdd476.png)

[2015-11-09 06:50] jincdream commented on #45
I am installing~

[2015-11-09 07:46] jincdream commented on #45
![wechat_1447054900](https://cloud.githubusercontent.com/assets/4645261/11028353/d969702c-86f8-11e5-9a58-da3ddfe18c23.jpeg)

Nice! It's fixed. thx~

by the way
林文滨是基佬。: )

[2015-11-09 07:47] #45 closed

[2015-11-09 08:52] pmros commented on #41
This works for me:
[code]
But if I try to launch Mancy executable from another directory
[code]
I get a segmentation fault!

[2015-11-09 11:33] #23 closed

[2015-11-09 11:36] princejwesley commented on #41
@xgrommx please confirm the fix

[2015-11-09 21:15] matiasinsaurralde commented on #34
@pmros @princejwesley i18n would be nice too!

[2015-11-10 00:02] princejwesley commented on #41
Closing it for now. Please feel free to open it if this issue is not resolved

[2015-11-10 00:02] #41 closed

[2015-11-11 07:17] pmros opened #48 "Auto fill characters bug"
When you type '9', Mancy "autofill" another '9' character. I think it's a issue related to shift keycode and parentheses. When you type "(" or "(quotes), no autofill at all.

[2015-11-11 07:24] princejwesley commented on #48
@pmros let me look into that

[2015-11-11 15:04] princejwesley commented on #48
@pmros I don't understand this part.

[2015-11-11 16:38] pmros commented on #48
I mean that if you type "[", Mancy autocomplete it with "]". If you type "{", Mancy autocomplete it with "}". But if you type "(", Mancy does not autocomplete it with ")", Mancy does not autocomplete.

Sorry for my English. I hope you understand me. Thank you.

[2015-11-11 21:08] xgrommx commented on #34
Some support for typescript, elm, purescript.

[2015-11-12 10:12] pmros opened #49 "Chat room (gitter)"
As long as Mancy community is growing, I suggest to create a chat room. With [Gitter](https://gitter.im) is very easy and it's well integrated with GitHub.

[2015-11-12 10:19] princejwesley commented on #49
@pmros, I have used gitter in other projects. let me integrate it.

[2015-11-12 10:28] princejwesley commented on #49
done :+1:

[2015-11-12 10:28] #49 closed

[2015-11-12 10:30] princejwesley commented on #34
@xgrommx working on typescript support.

[2015-11-13 18:26] princejwesley commented on #34
@pmros @xgrommx  master branch has coffeescript and typescript support. try and let me know

[2015-11-13 22:25] pmros commented on #34
I've played with CoffeeScript at Mancy for a while. It seems to work OK. Good job!

[2015-11-13 23:08] pmros commented on #34
I add a language to the wishlist: [LiveScript](http://livescript.net/). I know it's not the most popular altJS language, but I love its expressiveness. Moreover, LiveScript is a language derivated from CoffeeScript, so if Mancy has already support for CoffeeScript, I guess it would be easy to support it at Mancy too.

[2015-11-13 23:09] princejwesley commented on #34
@pmros :+1:

[2015-11-15 07:36] princejwesley commented on #34
@pmros livescript is added.

[2015-11-16 18:31] pmros commented on #6
I can do 'gulp start', 'gulp debug' and even 'npm dist' with no problems. I'm using Arch Linux and electron-prebuilt-0.34.3. So you can close this issue, if @Nom- is agree.

[2015-11-16 18:35] pmros opened #56 "Install Mancy through npm"
It would be nice if you could install Mancy this way:
[code]
Other electron based applicacions (like iron-node) work this way.

[2015-11-16 18:41] pmros opened #57 "Date viewer"
There is no Date viewer.
Example: new Date()

[2015-11-16 19:11] xgrommx opened #58 "Some problem with npm install"
Hi @princejwesley When I try install npm dependencies I got this error:

[code]

[2015-11-16 19:17] pmros commented on #58
Same problem here. Use https protocol instead git protocol. Change package.json:
[code]

[2015-11-16 19:18] princejwesley commented on #58
@pmros @xgrommx https works ?

[2015-11-16 19:19] pmros commented on #58
yes

[2015-11-16 19:25] princejwesley commented on #58
Thanks.

[2015-11-16 19:30] pmros commented on #6
Application exe works for me only if I launch inside dist dir. I'm using Arch Linux.

This works for me:

cd dist/Mancy-linux-x64
./Mancy

But if I try to launch Mancy executable from another directory

./dist/Mancy-linux-x64/Mancy

I get a segmentation fault!

[2015-11-16 19:39] princejwesley commented on #57
![image](https://cloud.githubusercontent.com/assets/1622515/11192562/ce9de32e-8cc7-11e5-8427-9e3d862e80ca.png)

[2015-11-16 19:42] princejwesley commented on #57
@senthilporunan Enabling timezone selection is good right?

[2015-11-16 22:35] xgrommx commented on #58
@princejwesley Very strange because earlier I could build Mancy for windows x64.

[2015-11-17 00:12] princejwesley commented on #6
@pmros test against latest code.

[2015-11-17 02:15] xgrommx commented on #58
This is full the stack trace:
[code]

[2015-11-17 02:20] princejwesley commented on #58
@xgrommx thanks. I'll look into that

[2015-11-17 02:28] princejwesley commented on #58
One of the below suggestions might help
1) [permission-error](https://github.com/npm/npm/wiki/Troubleshooting#permission-error)
2) [try-clearing-the-npm-cache](https://github.com/npm/npm/wiki/Troubleshooting#try-clearing-the-npm-cache)

[2015-11-17 09:19] pmros commented on #6
Well sometimes... sometimes crash (segmentation fault), sometimes works! I'm gonna try electron 0.35.0 instead 0.34.3.

[2015-11-17 09:43] pmros commented on #6
I've tried Mancy with electron 0.35.0. No crash. I've tried more than ten times and it worked OK all the time. You could update to electron 0.35.0, you had to fix a couple of deprecated warnings. I hope you could remove 😔 from README very soon.

[2015-11-17 12:21] pmros opened #59 "Show transpiled/compiled code"
It would be nice if you could show transpiled/compiled code.
For example, if you are using LiveScript and type:
[code]
you could show the generated (and evaluated) JavaScript code:
[code]
This feature would be easy to implement and it's very useful to debug. You could apply this feature to all languages and transpiler: Babel, CoffeeScript, TypeScript, LiveScript...

[2015-11-23 19:50] dylang opened #62 "require(module) => Error: cannot find module"
This looks amazing, I look forward to using it more, but one of the basic features I'm not able to get working.

Whenever I tried to to `require` a module, I always get `Error: Cannot find module 'module-name'`.

![screen shot 2015-11-23 at 1 11 00 pm](https://cloud.githubusercontent.com/assets/51505/11345265/cc248aaa-91e3-11e5-81a1-51d6f755ea61.png)

It does work when I run from master locally, s

[2015-11-23 22:21] princejwesley commented on #62
@dylang Are you getting this error in  [v0.2.1](https://github.com/princejwesley/Mancy/releases/tag/v2.0.1) ?

[2015-11-24 00:39] dylang commented on #62
No, looks great! I could have sworn "latest release" pointed to 2.0.0 this morning, must have been user error. Thanks again for creating this!

[2015-11-24 00:39] #62 closed

[2015-11-24 03:38] princejwesley commented on #62
thanks :smile:

[2015-11-26 21:42] gnestor opened #63 "Bug: Async/await returns promise object vs. resolved value"
The value in the async/await pattern is that it allows us to work with async values like we would sync values vs. nesting callback or then blocks. Given that, thanks for adding this sugar to Mancy. However, these await statements return promise objects vs. the resolved values, so we still need to call then on them to access the resolved value.

#### Test:

[code]

Which ends up looking the same as

[2015-11-26 22:50] princejwesley commented on #63
@gnestor As you said, bare `await` is just a sugar. Therefore, what we get is a `async` function and `async` function returns a promise.

bare `await` transformation:
[code]
Try `master`(branch) which has support to view transpiled code

![image](https://cloud.githubusercontent.com/assets/1622515/11431280/c3d7e778-94ba-11e5-8f18-704ceeae5cf4.png)

[2015-11-28 03:50] #59 closed

[2015-11-28 03:51] #57 closed

[2015-11-28 03:52] princejwesley commented on #48
@pmros Please reopen this ticket if you can reproduce the issue in the latest build

[2015-11-28 03:54] princejwesley commented on #58
@xgrommx Follow [node-gyp](https://github.com/nodejs/node-gyp#installation) instructions to build native modules.

[2015-11-28 03:55] princejwesley commented on #6
V2.1.0 released. No crash encountered.

[2015-11-28 03:55] #6 closed

[2015-11-28 07:16] Darkle opened #64 "Syntax error when closing bracket and closing parenthesis are on different lines"
I seem to be getting a syntax error `SyntaxError:  missing ) after argument list` with the following code:

[code]
But if I put the closing bracket and parenthesis on the same line, there's no error:
[code]

I'm running Mancy v2.1.0 on OSX 10.11.1.

(thanks for making Mancy btw, it's great)

[2015-11-28 07:33] princejwesley commented on #64
@Darkle Can you able to reproduce it consistently?
![image](https://cloud.githubusercontent.com/assets/1622515/11450706/45628f12-95d0-11e5-9eca-084e09dc3a27.png)

[2015-11-28 07:37] Darkle commented on #64
Yeah:
![image](https://cloud.githubusercontent.com/assets/6868833/11450718/c9e9ccd6-95fe-11e5-8af5-d779c6387672.png)

Here are my settings:
![image](https://cloud.githubusercontent.com/assets/6868833/11450721/def510fe-95fe-11e5-8687-94a3392d1301.png)

[2015-11-28 07:40] Darkle commented on #64
I just tried it with the Babel Transform setting enabled and the error no longer occurs.

[2015-11-28 07:40] princejwesley commented on #64
@Darkle thanks, let me look into that

[2015-11-28 07:49] princejwesley commented on #64
@Darkle looks like node's repl is throwing same error(Mancy is backed up node's repl)
![image](https://cloud.githubusercontent.com/assets/1622515/11450775/8aaed4c0-95d2-11e5-98f5-6fcef00982b5.png)

@Darkle can you raise ticket in node repository?

[2015-11-28 22:19] Darkle commented on #64
Sure thing: https://github.com/nodejs/node/issues/4060

[2015-11-29 22:14] hughrawlinson commented on #56
:+1: Yes, this! So much!

[2015-12-01 05:12] jokeyrhyme opened #65 "bring-your-own Node.js optional alternative to Electron-built-in-Node.js"
Is it technically feasible to use an external Node.js executable with Mancy?

I ask because Electron comes with Node.js 4.1.1, and I'm using Node.js 5.1.0 with my own projects. It gets a bit confusing trying to remember which syntax is available in which Node.js version.

Is this something that you'd accept a PR for?

[2015-12-01 05:12] jokeyrhyme commented on #34
How about newer Node.js? #65

[2015-12-01 05:58] princejwesley commented on #65
@jokeyrhyme, I accept PR :smile:. We just need electron supplied v8 to run mancy.  User commands can be executed in remote node.js. we may need to have a socket connection and pass around context and code to run. I am not sure what else break because of this change. we can experiment that.

 For now, Use babel to avoid syntax avaliable problem.

[2015-12-01 19:52] bedeoverend commented on #56
:+1: yes please! :)

[2015-12-01 22:43] anami opened #66 "OSX: Clicking the Mancy icon in the dock bar (once it is running) invokes a new instance of Mancy"
This issue is apparent on Macs.

Once Mancy is running, clicking the Mancy icon in the dockbar invokes a new instance of Mancy.
It may be engineered to behave this way but I feel users will find this confusing and disconcerting, I certainly did.

I'm running Mancy v2.1.0 on OSX El Capitan.  Using the release build of Mancy.

[2015-12-02 02:02] ashleydavis opened #67 "Is there anyway to automatically load a startup script when Mancy starts?"
First up. Mancy is awesome. I'm really loving it.

I'd like to have a startup script that loads all my most common modules and helper functions when I start Mancy.

Is it possible to do this already? Or are there any plans to implement this?

[2015-12-02 02:02] lourencomcviana opened #68 "Cant save session to file"
using ubuntu 14.10
Downloaded from github (not npm)
Tested in similar virtual machines and the problem persisted

[2015-12-02 02:05] ashleydavis opened #69 "Table view for two dimensional data"
I like to implement a `toString` function for each my custom types, to be used to debug print the contents.

Does Mancy support, or are there any plans to support, implicit use of `toString` when outputting objects on the console?

[2015-12-02 02:28] princejwesley commented on #67
@ashleydavis Currently those npm modules downloaded from mancy(while giving require) will be available in node modules look up path. Other option is to NODE_PATH environment.

Similar ticket: [#38](https://github.com/princejwesley/Mancy/issues/38)

I'll add start up load path configuration in next version. I'll inform you once the code is merged to master.

[2015-12-02 02:34] ashleydavis commented on #67
Thanks for your quick response.

I've already tried the feature where you can require a module and Mancy will automatically download the module. That's a really cool feature.

What I'm asking for is a little bit different. I want to load various modules to global variables and have the variables ready for use when I start using Mancy.

As an example...

I'm working on a data transformation toolkit

[2015-12-02 02:40] princejwesley commented on #69
@ashleydavis No plan for implicit `toString` output display. Current behaviour is consistent with chrome console output.

[2015-12-02 02:44] princejwesley commented on #67
@ashleydavis Make sense. I'll add it.

[2015-12-02 03:16] kdabir commented on #66
+1

[2015-12-02 03:37] ashleydavis commented on #69
Is there any way to customize the output for particular types/objects?

I noticed you can display graphs. Is there a way to make plugins for custom output?

[2015-12-02 05:01] princejwesley commented on #69
@ashleydavis As of now, we don't have support for plugins. Do you want to see only the textual representation of custom object or the tree view as well?

[2015-12-02 05:44] ashleydavis commented on #69
Have you seen *IPython notebook* and *Pandas*?

You can see it in this video: https://www.youtube.com/watch?v=rEalbu8UGeo

Start watching at 9 minutes to see how it renders data frames.

I'm building data-forge which is a data transformation and analysis toolkit inspired by Pandas. I want data-forge to work with Mancy the way that Pandas works with *IPython notebook*.

So I want to be able to rend

[2015-12-02 05:54] princejwesley commented on #69
@ashleydavis I'll either add support for customized output plugin or customize your data frames exclusively. I'll get back to you. :+1:

[2015-12-02 06:06] princejwesley commented on #69
@ashleydavis I don't think we need customizable output plugin.  All we need is a way to represent 2D data as table. Its easy to deduce 2D form and show as table.

[2015-12-02 06:13] ashleydavis commented on #69
Sounds good. I'm still working on making data-forge easy to use from Mancy. When it's further advanced I'll yet you know so you can try it out.

[2015-12-02 06:20] ashleydavis opened #70 "Special support for promises?"
I noticed that Mancy already has *Auto async wrapper* and  *Promise output tracking*.

Would it be possibly to add an  *synchronous wrapper* for promises?

Or does something like this already exist in Mancy?

Example...

The following code pulls json data from a REST API. Data-forge returns a promise that resolves when the async operation has completed:

 dataForge.from(http("some/rest/api")

[2015-12-02 06:48] princejwesley commented on #70
bare `await` is not valid construct, and therefore, user can still reason about what is going on. User can turn on/off auto async wrapper as well.

But here, the original input is a valid JS code. I don't want to surprise the user. Also, I want this tool to be used for learning purpose.

[2015-12-02 07:02] ashleydavis commented on #70
Ok no probs. I'll implement `asyc` versions of the functions.

[2015-12-02 07:02] #70 closed

[2015-12-02 16:46] Leeds-eBooks commented on #62
I've got this problem too. Using v 2.1.0, OSX. Can I give you any other information that would be helpful? I downloaded the app from the releases page, and moved it to the Applications folder, and opened it. I previously had built my own from the repo which I cloned down to my machine, but I don't think that has anything to do with it? Thanks!

[2015-12-02 17:24] princejwesley commented on #62
@Leeds-eBooks are you getting same error in v2.1.0 or in v2.0.1?

[2015-12-02 18:33] Leeds-eBooks commented on #62
In 2.1.0, running the `.app` file on OSX (not `.exe`). Can you reproduce the error? If not I can try and provide you with more info.

[2015-12-03 01:46] ashleydavis opened #71 "Does async/await work in Mancy?"
I assumed async/await works in Mancy after reading the wiki. But I'm having some problems with it.

I'm new to async/await, so I'm probably at fault here somehow.

I tried to get the following example into Mancy:

  async function getValues() {
      return [1,2,3,4];
  }

From this primer: http://code.tutsplus.com/tutorials/a-primer-on-es7-async-functions--cms-22367

I get this error:

  SyntaxEr

[2015-12-03 03:18] princejwesley commented on #71
@ashleydavis Try with babel turned on.

[2015-12-03 03:24] ashleydavis commented on #71
Cheers that allows me to define the `getValues` function.

How do I call the function?

This returns a promise.... as I expected:

  getValues();

This cause  the eror `SyntaxError: Unexpected identifier`:

  await getValues();

This causes the same error:

  var a = await getValues()

[2015-12-03 03:40] princejwesley commented on #71
![image](https://cloud.githubusercontent.com/assets/1622515/11551251/95b8ab4c-999d-11e5-90e5-bd622cbeaaa4.png)

[2015-12-03 03:49] princejwesley commented on #71
@ashleydavis [related](https://github.com/princejwesley/Mancy/issues/29)

[2015-12-03 04:07] ashleydavis commented on #71
![image](https://cloud.githubusercontent.com/assets/625126/11551685/3760336a-99c7-11e5-9084-d150a862ad1c.png)

[2015-12-03 04:12] ashleydavis commented on #71
I enabled *Auto async wrapper* and this works now:

![image](https://cloud.githubusercontent.com/assets/625126/11551715/8aac335c-99c7-11e5-975e-e9a47c4209f8.png)

It just doesn't work the way I expect.

![image](https://cloud.githubusercontent.com/assets/625126/11551735/a94f2e36-99c7-11e5-8663-295f908da528.png)

When I capture the results of `await getValues()` in `x` should the value be the promi

[2015-12-03 04:18] princejwesley commented on #71
[code]
wrapped as

[code]
Only benefit of using bare `await` is to convert normal values to promise.

[2015-12-03 04:46] ashleydavis commented on #71
What's the difference between these two lines of code:

  getValues();

  await getValues();

There doesn't seem to be any difference? If that's the case I don't understand the point of `await`.

I though it would resolve the promise and pull out the final value. Is that not the case?

[2015-12-03 05:10] princejwesley commented on #71
`async` auto wrapper creates more confusion :disappointed:
Yes, `await` resolves to value but its always wrapped inside `async`. I see `await` as a tool to treat async code **as** synchronous.

e.g.
[code]
With `await`, we can treat `somePromise()` as synchronous call and print it in the next line. Here `fun()` is still async code.

the above code roughly equivalent to
[code]

This is my understan

[2015-12-03 05:51] ashleydavis commented on #71
I'm just getting more confused :(

When I run the following two lines of code in Mancy, there doesn't seem to be any difference.

 getValues();

 await getValues();

[2015-12-03 06:17] princejwesley commented on #71
@ashleydavis May be I can redefine the way wrapping async code and restrict the auto wrapping for `let variable = await expression` form. it will not be as confusing as in current form and you will get resolved value bound to desired variable.

[2015-12-03 15:41] #58 closed

[2015-12-03 15:54] princejwesley commented on #63
Tracked [here](https://github.com/princejwesley/Mancy/issues/71)

[2015-12-03 15:55] #63 closed

[2015-12-05 23:55] gbaumgart opened #72 "npm install error"
on the second ubuntu-x64 machine i get errors when installing:

npm http GET https://registry.npmjs.org/electron-packager/-/electron-packager-5.1.0.tgz
npm http 200 https://github.com/princejwesley/c3.git
npm http 200 https://registry.npmjs.org/font-awesome/-/font-awesome-4.5.0.tgz
npm ERR! not a package /home/mc009/tmp/npm-28860-luaTJ40S/1449359363038-0.886921145953238/tmp.tgz
npm ERR! Error: ENO

[2015-12-06 05:33] princejwesley commented on #72
@gbaumgart Try with node 4.x or 5.x.

[2015-12-06 12:50] gbaumgart commented on #72
hi, so i did a nvm install v5.0.0 but it always gets stuck when compiling a native module:

sudo npm install:

npm WARN cannot run in wd mancy@2.1.0 npm prune (wd=/install/Mancy)
npm WARN deprecated react-tools@0.13.3: react-tools is deprecated. For more information, visit https://fb.me/react-tools-deprecated
npm WARN engine jest-cli@0.5.10: wanted: {"node":">= 2"} (current: {"node":"0.12.7","npm"

[2015-12-06 12:59] princejwesley commented on #72
@gbaumgart  [node-gyp](https://github.com/nodejs/node-gyp#installation) instructions may help to build native modules.

 Make sure node is 4.x or 5.x

[2015-12-06 13:50] gbaumgart commented on #72
ok, got it! thank you. please mention this somewhere (most boxes are running 0.10-.0.12):

nvm install v5.0.0
nvm use v5.0.0
npm install

g

[2015-12-06 13:50] #72 closed

[2015-12-06 14:14] princejwesley commented on #72
@gbaumgart Sure, I'll update it

[2015-12-07 20:49] clementi opened #73 "Mancy GUI never appears"
After upgrading to 2.1.0 on Windows 7 Pro, the REPL GUI does not appear when I start Mancy. I have repeatedly removed and re-downloaded Mancy to no effect. I have also deleted %appdata%\mancy to no effect. If I delete the 2.1.0 installation and run the 2.0.1 build, the GUI starts up.

[2015-12-07 21:28] princejwesley commented on #73
@clementi  I don't have access to windows 7 machine :disappointed: . I am not sure what went wrong. @senthilporunan tested in windows 7 before release tag is created.

 is it 32 bit or 64 bit machine? Can you clone master branch or 2.1.0 tag and build the exe?

[2015-12-07 23:08] clementi commented on #73
@princejwesley It's 64 bit. I'll clone and try a build.

[2015-12-08 18:07] clementi commented on #73
I'm unable to get a build working: electron-rebuild is failing.

[2015-12-08 18:27] princejwesley commented on #73
@clementi electron-prebuilt is installed ?

[2015-12-08 20:10] clementi commented on #73
@princejwesley electron-prebuilt 0.35.4 appears to be installed:

[code]

[2015-12-08 20:39] princejwesley commented on #73
@clementi I am looking at the electron-rebuild [source code](https://github.com/electronjs/electron-rebuild/blob/master/src/main.js#L42).

can you run the following and check the results?
[code]

As per your logs, looks like you are getting `(blank line)46`. If that is true, [this](https://github.com/electronjs/electron-rebuild/blob/master/src/main.js#L49) line requires a fix.

Try modifying `node

[2015-12-08 20:52] princejwesley commented on #73
@clementi  There is an [open ticket](https://github.com/electronjs/electron-rebuild/issues/37) for this issue. As per your log, I suspect that stdout is leaking

[2015-12-08 20:55] clementi commented on #73
@princejwesley I confirm 46.

[2015-12-08 20:56] clementi commented on #73
I wonder how @senthilporunan was able to build?

[2015-12-08 20:57] princejwesley commented on #73
@clementi You can pass in electron-prebuilt path explicitly [like this](https://github.com/electronjs/electron-rebuild/blob/master/src/cli.js#L23).

Try giving
[code]
to something like this
[code]

[2015-12-08 20:59] princejwesley commented on #73
@clementi I built it from windows 10, 32 bit machine (64 bit binary) and asked him to test. He was able to run the executable.

[2015-12-08 21:21] princejwesley commented on #73
@clementi For time being, set `versionAsString`([here](https://github.com/electronjs/electron-rebuild/blob/master/src/main.js#L49)) as 46 and build.

[2015-12-08 21:25] pmros commented on #48
When you write "?", Mancy show "??".

[2015-12-08 21:28] princejwesley commented on #48
@pmros I am not able to reproduce this issue. let me try to reproduce it in my linux box

[2015-12-08 21:38] pmros commented on #48
[code]
[code]

[2015-12-08 21:58] clementi commented on #73
@princejwesley Setting versionAsString to `"46"` has no effect. Neither does passing any path to electron-rebuild. However, when I run `npm run package` I get an (incomplete) build of Mancy and when I run it, the GUI _does_ show up.

Hmm. I'm using Node 4.x.x. I'll try 5.x.x.

[2015-12-08 22:05] princejwesley commented on #73
Electron rebuild is not required if installed node version and electron backed node versions are same.

[2015-12-09 19:25] marclemagne opened #74 "Auto-fill + entering character / Optional to turn this off"
I have seen it in editors where, for example, if you type an "(" it will auto-fill an ")" and it's cool that Mancy does this, as well. The problem I am seeing is that if I then type that ")" myself, it will add another ")" instead of replacing that auto-filled ")"--like many other editors do.

So you end up with: `something())` instead of the expected `something()`.

It would also be nice to be ab

[2015-12-09 19:32] princejwesley commented on #74
@marclemagne sure thing.

[2015-12-09 19:33] pmros commented on #74
Related to issue #48.
Consider use editor components like Ace, it feature autofill, bracket matching and another niceties.

[2015-12-09 19:39] princejwesley commented on #74
@pmros let me check those. we need external auto-completion support as well

[2015-12-09 19:42] pmros commented on #74
@princejwesley these libraries ussually let some developer customizations (hooks, callbacks, events, etc.)

[2015-12-09 19:43] princejwesley commented on #74
@pmros :+1:

[2015-12-09 22:13] princejwesley commented on #74
@pmros ace is BCD licensed. code mirror seems good.

[2015-12-09 22:18] pmros commented on #74
@princejwesley Code mirror is good for me :+1:

[2015-12-11 06:16] ashleydavis opened #75 "Should be able to select and run arbitrary JavaScript code in Mancy"
It'd be nice if you could select and then run JavaScript files in Mancy.

I'm talking about a *Run Script* menu item under the *File* menu. This should bring up an open file dialog to allow you to select a Javascript file to run.

Mancy should remember Javascript files that have been recently executed. It should be possible to rerun recent scripts from a *recently used file menu*.

[2015-12-11 06:18] ashleydavis opened #76 "Should be able to save previously entered commands as a Javascript file"
I like to use Mancy to build code as I explore data.

A menu to save the command history as a plain Javascript file would be great. That would make an easy way to transition from running code in Mancy (where I like to start coding) to running code under NodeJS (where I end up once the exploratory coding phase is over).

[2015-12-11 06:21] princejwesley commented on #76
@ashleydavis  `save as` option with successfully executed commands ?

[2015-12-11 06:24] princejwesley commented on #75
@ashleydavis time being use `.load absolute-file-name` to load file.

[2015-12-11 06:36] princejwesley commented on #76
`Save as ...` feature has a drawback which is worth mentioning here. Mancy supports coffee, typescripts as well. Mancy uses one context per window and therefore shares it across languages.

We can write one function in one language and execute it in another. therefore, the exported file may have mix of `js/coffee/typescript`.

[2015-12-11 07:06] ashleydavis commented on #76
That's ok.

The user has to now what language they are working in. If they mix those languages they should expect the 'command history' to be saved out as multi-language.

[2015-12-11 07:06] ashleydavis commented on #75
Thanks!

[2015-12-11 07:46] princejwesley commented on #76
@ashleydavis My comment is for the record :smile:

[2015-12-11 10:10] ljgww commented on #73
It does create 3 Mancy.exe processes though.
My setup default node 4.2.1 but I got impression that electron uses its own node 4.1.1

[2015-12-11 10:12] princejwesley commented on #73
@ljgww Yes, thats why we need to rebuild native modules. are you facing similar issue ?

[2015-12-11 10:19] princejwesley commented on #73
@ljgww @clementi use of `await` in [electron-rebuild](https://github.com/electronjs/electron-rebuild/blob/master/src/main.js#L46) is buggy. thats why `stdout` is leaking to parent process.

[2015-12-12 04:44] Honghe opened #77 "Add: A hot key to enter edit mode and go to the last edit line maybe is nice"
At present, we have to click the right input line via mouse to go to and edit it, this is a bit of inefficient.
Maybe can add a hot key to quickly focus the last edit line and enter edit mode(e.g. `esc` key), just like `Jupyter notebook`. :smiley:

[2015-12-13 17:13] princejwesley commented on #77
Shortcuts  <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>0..9</kbd> binds to last 10 commands.
(e.g)
To edit ultimate command,  press <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>0</kbd>.
To edit penulitmate command,  press <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>1</kbd>.

[2015-12-13 21:30] #66 closed

[2015-12-13 21:31] #68 closed

[2015-12-13 21:31] #67 closed

[2015-12-13 21:31] #69 closed

[2015-12-13 21:32] #71 closed

[2015-12-13 21:32] #77 closed

[2015-12-13 21:32] #76 closed

[2015-12-13 21:32] #75 closed

[2015-12-13 21:32] #74 closed

[2015-12-15 14:16] DenysStoianov commented on #34
How about purescript? I believe it's very awesome the language.

[2015-12-15 16:54] princejwesley commented on #65
@jokeyrhyme Electron `0.36` backs node `5.1.1`/ chrome 47. so we don't have to worry about newer version that electron team constantly upgrading.

[2015-12-15 19:45] marclemagne commented on #74
Wow, you guys are awesome! Thanks!

[2015-12-17 12:37] sibeliusseraphini opened #78 "Migrate to Babel 6"

[2015-12-17 12:58] princejwesley commented on #78
@sibeliusseraphini Yes.

[2015-12-17 13:10] sibeliusseraphini commented on #78
this could be useful: https://medium.com/@malyw/how-to-update-babel-5-x-6-x-d828c230ec53

[2015-12-18 02:36] #78 closed

[2015-12-18 20:14] princejwesley opened #79 "Minimize the use of node's REPL"
Its better to avoid the use of node REPL for executing commands that solve issues like #64.
Use node REPL for
-  Transpiled language integrations.
-  Auto completion of transpiled code.
-  Loading module extentions.

[2015-12-19 00:55] princejwesley commented on #38
@djds4rce  Added path in preferences for persistence
![image](https://cloud.githubusercontent.com/assets/1622515/11910257/285a762e-a619-11e5-941f-aa8ff578eda0.png)

[2015-12-19 00:55] #38 closed

[2015-12-19 01:30] fllstck opened #80 "Missing angle brackets when copy-pasting functions with generics in TypeScript"
Consider the following typescript function with a `<T>` generic variable.
[code]

Whenever I copy-paste this example into the Mancy repl, the angle brackets `<T>` disappear. This results in a type error being reported.

![screenshot 2015-12-18 20 29 22](https://cloud.githubusercontent.com/assets/1329167/11910503/156b2b56-a5c6-11e5-8115-ce7c127436fa.png)

[2015-12-19 01:38] princejwesley commented on #80
@fllstck Fixed.
![image](https://cloud.githubusercontent.com/assets/1622515/11910547/23ead8da-a61f-11e5-8831-2eeaf7ed7c2f.png)

[2015-12-19 01:58] fllstck commented on #80
Looks good to me!

[2015-12-19 05:06] joshq00 opened #81 "Ability to disable auto-closing characters"
When I type `[`, Mancy will automatically add a `]`.
I would like a way to disable this.

For example, when I type `['a','b','c']`, I end up with `['a','b','c']'''''']`
It's easier for me to type `['a','b','c']` than it is to do `['a→,'b→,'c→→`

I would consider leaving it enabled if it could intelligently recognize when I'm typing a character it has already auto-closed and not duplicate. But, in

[2015-12-19 06:09] princejwesley commented on #81
[master](https://github.com/princejwesley/Mancy/commit/e61265a4f4e6bb945bf421e74de91e016154439b) branch has preference to disable it.

![image](https://cloud.githubusercontent.com/assets/1622515/11911711/b552a922-a644-11e5-8377-a088c3b4f921.png)

I'll fix this use case before 2.2 release.

[2015-12-19 06:55] #80 closed

[2015-12-19 06:58] joshq00 commented on #81
:shipit: thank you for the useful app!

[2015-12-19 13:44] #81 closed

[2015-12-20 16:50] #79 closed

[2015-12-20 16:52] princejwesley commented on #64
@Darkle this issue is fixed as part of #79 ticket.

[2015-12-20 21:33] nblackburn commented on #17
+1

[2015-12-21 20:05] princejwesley opened #82 "Turn off strict mode in babel 6"
:point_up:

[2015-12-30 13:05] chesstrian commented on #6
:+1:  Thanks

[2015-12-31 03:14] #82 closed

[2015-12-31 03:15] #64 closed

[2016-01-01 18:09] #56 closed

[2016-01-05 10:35] voronianski opened #83 "Uncaught exception on app start on OS X"
<img width="541" alt="2016-01-05 12 32 42" src="https://cloud.githubusercontent.com/assets/974035/12112989/a28d25bc-b3a8-11e5-808d-5a060fa1055f.png">

I'm on OS X 10.11.2 (15C50), node version is 0.12.7

[2016-01-05 11:40] princejwesley commented on #83
@voronianski can you reproduce it in latest(`master` branch) code?

[2016-01-05 13:40] voronianski commented on #83
@princejwesley I will check `master` branch a bit later.

[2016-01-05 21:01] AriaFallah opened #84 ""Missing catch or finally after try""
Here's the code:

[code]

Which is from [here](https://github.com/tj/node-thunkify/blob/master/index.js)

It runs fine in the chrome console

[2016-01-05 21:06] princejwesley commented on #84
@AriaFallah  Are you getting "Missing catch or finally after try" error?
![image](https://cloud.githubusercontent.com/assets/1622515/12127584/1976a37c-b41e-11e5-8bd9-a490b0ff05fe.png)

[2016-01-05 21:16] AriaFallah commented on #84
Yep.

![screen shot 2016-01-05 at 4 15 49 pm](https://cloud.githubusercontent.com/assets/9424976/12127847/96fdc336-b3c7-11e5-98f6-0835cd1fa5ef.png)

[2016-01-05 21:23] princejwesley commented on #84
@AriaFallah can you share the stack trace and preference settings to reproduce this issue? can you able to reproduce the same in `master` ?

[2016-01-05 21:25] AriaFallah commented on #84
Here are the stack trace and preferences.

![screen shot 2016-01-05 at 4 24 27 pm](https://cloud.githubusercontent.com/assets/9424976/12128039/d0238956-b3c8-11e5-9f42-4b70bfce9656.png)
![screen shot 2016-01-05 at 4 24 58 pm](https://cloud.githubusercontent.com/assets/9424976/12128052/e3b68568-b3c8-11e5-80ce-32dd1e2327ef.png)

I haven't tried master.

[2016-01-05 21:30] princejwesley commented on #84
@AriaFallah Yes, turn off babel for time being and try. `master` branch is working fine.

[2016-01-05 21:32] AriaFallah commented on #84
Yep it works without babel.

[2016-01-05 22:06] princejwesley commented on #84
@AriaFallah  With babel-transform, input is transformed as below before invoking node REPL API.

[code]
If you paste the same in node repl, you can get the same error.
![image](https://cloud.githubusercontent.com/assets/1622515/12128642/9ab854de-b424-11e5-8242-23db5c029b9f.png)

### Conclusion
Node REPL has issues handling multiline commands.

![image](https://cloud.githubusercontent.com/assets/16

[2016-01-05 22:06] #84 closed

[2016-01-06 11:35] voronianski commented on #83
@princejwesley I've cloned the repo and tried to run `npm install` and `npm start` from `master` branch -

unfortunately there were errors while installing dependencies that I cannot resolve for now:

[code]

Maybe it's because of your fork of font-manager - `"font-manager": "https://github.com/princejwesley/font-manager.git"`

Also running `npm start` results in empty window -

<img width="1087"

[2016-01-06 11:40] princejwesley commented on #83
@voronianski Yes, My fork has support for 4.x, 5.x versions of node. Original author accepted my PR and tweaked to support 0.x node versions.

[2016-01-06 11:51] princejwesley commented on #83
@voronianski Updated `package.json` to point to original `font-manager`.

[2016-01-06 12:37] voronianski commented on #83
@princejwesley pulled your change and successfully built the app, however still the initial window is not open and when I click `New Window` -> have this exception:

[code]

[2016-01-06 12:39] voronianski commented on #83
@princejwesley when I click `New Window` or `Preferences` nothing happens.

[2016-01-06 12:40] voronianski commented on #83
@princejwesley some logs from console:

[code]

[2016-01-06 12:49] princejwesley commented on #83
@voronianski Unfortunately I am not able reproduce this issue in my environment. let me try with ` 0.12.7` version.

[2016-01-06 13:32] princejwesley commented on #83
@voronianski I am not able to reproduce this issue. I understand the problem. I'll fix it.
Meantime, try this dirty fix
src/main/index.js
[code]
I wonder why `MancyApplication.rendererEvents` called more than 10 times. it suppose to be called per window.

[2016-01-06 14:08] princejwesley commented on #83
@voronianski I wonder why both latest build and master branch code are not working for you.

Regarding `About Mancy` menu item,

[code]
`showMessageBox` source:
https://github.com/atom/electron/blob/master/atom/browser/api/lib/dialog.coffee#L92

[2016-01-07 01:28] hugomrdias commented on #48
if i call a function auto-fill breaks with the parentheses

[code]

 the first closing parentheses doesnt autocomplete but when i manually type the first closing parentheses it adds another like the example above

[2016-01-07 01:33] princejwesley commented on #48
@hugomrdias can you test in  `master` branch?

[2016-01-07 02:31] hugomrdias commented on #48
npm install && npm run package

gives this error

[code]

[2016-01-07 04:05] princejwesley commented on #48
@hugomrdias  https://github.com/electronjs/electron-rebuild/issues/39 - related ?

[2016-01-07 12:20] hugomrdias commented on #48
maybe im try now with node 0.12 npm 2

[2016-01-07 12:35] hugomrdias commented on #48
worked and the problem is gone but there's no path completion now :/

[2016-01-07 12:52] princejwesley commented on #48
@hugomrdias update preferences

[2016-01-07 13:46] hugomrdias commented on #48
perfect @princejwesley release ETA ? :+1: just kidding
thnx

[2016-01-07 16:57] princejwesley commented on #48
@hugomrdias this weekend or monday :+1:

[2016-01-11 18:02] obvio171 commented on #37
Crazy (?) idea: store history as a git repo, usinb libgit2. Single branch, append-only, one commit per command or output.

[2016-01-14 05:24] princejwesley commented on #83
Addressed `Buttons need to be array` issue  [:link:](https://github.com/atom/electron/pull/4057)

[2016-01-15 04:53] siemiatj opened #85 "npm install fails with node-gyp error"
When I tried running `npm install` I got this :

[code]

aaand it crashes. I tried rebuilding the fonts npm module manually with `node-gyp` but it didn't help.

[code]

[2016-01-15 06:10] antonyr commented on #85
@siemiatj It seems your current working directory is `/Users/sasklacz/Work/Learning React/Mancy` and this path has space between `Learning` and `React`

Could you please retry compiling once again by removing space or replacing space with underscore?

[2016-01-18 16:41] neouser99 opened #86 "--startup script option support"
Nice project so far, keep up the good work!

It's possible to programmatically create a node repl server, which gives you the ability to add things to the running context. This is slightly different than just module loading. For instance, it would be nice if I could wire up a database context, and run a query, then load that information into the mancy context which is available straight away for a

[2016-01-18 17:03] princejwesley commented on #86
@neouser99  load your script either as `startup script` from `preference` window (if you want it every time) or using `File` -> `Load File...` option

![image](https://cloud.githubusercontent.com/assets/1622515/12397321/823f0f0c-be32-11e5-874e-a27c2dc27b9c.png)

[2016-01-18 17:06] neouser99 commented on #86
So.. anything I add to 'global' from that script will be available? I guess
maybe I'm not 100% sure how that part works.

Also, it'd be nice if this could be done on launch. I'd like to have a gulp
command launch mancy, running given script. This script isn't something I
necessarily want to run all the time.

On Mon, Jan 18, 2016 at 11:03 AM, Prince John Wesley <
notifications@github.com> wrote:

[2016-01-18 17:13] princejwesley commented on #86
maybe I'm not 100% sure how that part works.

Yes, Mancy REPL creates a context per window which acts as global. Just like node's repl, `global` and `root` aliases refers to the global context.

command launch mancy, running given script. This script isn't something I
necessarily want to run all the time.

Use `preferences/Startup script` to configure which file to load on launch(script should be

[2016-01-18 17:19] neouser99 commented on #86
OK, that makes sense for the for modifying the global/context variables,
thanks for that information.

I think I might not be explaining the second piece correctly. Basically,
it'd be cool if we could have different Mancy environments. I don't want
this startup script I'm talking about to run every time I run Mancy. I'd
like it to only run in certain instances, i.e. when I launch Mancy from
within

[2016-01-18 17:20] princejwesley commented on #86
@neouser99 let me add it as feature for next release. I'll let you know once its merged to master. :+1:

[2016-01-18 17:23] neouser99 commented on #86
Cool, that's awesome! If I find some personal time soon, I'll attempt a
pull request if it hasn't been done already.

On Mon, Jan 18, 2016 at 11:20 AM, Prince John Wesley <
notifications@github.com> wrote:

[2016-01-18 17:23] princejwesley commented on #86
:+1:

[2016-01-18 18:42] siemiatj commented on #85
Yup, this fixed it. Thanks !

[2016-01-18 18:42] #85 closed

[2016-01-19 00:19] wavebeem opened #87 "Failure to run after installation on OS X."
Mancy fails to run after installation through `npm install -g` on OS X El Capitan (v10.11.2). It appears to be a Windows line ending issue.

[code]

[2016-01-19 00:25] krainboltgreene opened #88 "Can't install from npm"
[code]

Though I do have:

[code]

[2016-01-19 00:28] princejwesley commented on #88
@krainboltgreene its a `npm v3` issue. I reinstalled `npm` to fix this error.

[2016-01-19 00:31] princejwesley commented on #87
@wavebeem this issue was [fixed](https://github.com/princejwesley/npm-mancy/commit/b7f483531ceaa86445cf3f1f78b3886247b875e2).

please update to `2.2.0-2` version.

[2016-01-19 00:34] princejwesley commented on #88
@krainboltgreene [this one](https://github.com/npm/npm/issues/10057)

[2016-01-19 00:36] krainboltgreene commented on #87
Worked for me!

[2016-01-19 00:36] krainboltgreene opened #89 "Interesting half-working babel-6 situation"
<img width="1003" alt="screen shot 2016-01-18 at 4 35 50 pm" src="https://cloud.githubusercontent.com/assets/334809/12406422/abc95462-be01-11e5-9237-4bf60fb0b9c3.png">

[2016-01-19 00:43] princejwesley commented on #89
@krainboltgreene interesting!
![image](https://cloud.githubusercontent.com/assets/1622515/12406497/857d2a28-be73-11e5-822b-9c3f27646e39.png)

[2016-01-19 00:46] princejwesley commented on #89
@krainboltgreene same behaviour in `babel 5`.

![image](https://cloud.githubusercontent.com/assets/1622515/12406545/fa344c66-be73-11e5-856b-5d2962be2d01.png)

[2016-01-19 00:51] krainboltgreene commented on #89
Okay, that totally makes sense. I assumed mancy from the terminal would use my babel setup.

[2016-01-19 00:59] princejwesley commented on #89
![image](https://cloud.githubusercontent.com/assets/1622515/12406712/985fa4c0-be75-11e5-80e0-db3d5c0e6920.png)

[2016-01-19 01:14] princejwesley commented on #89
@krainboltgreene I'll reopen this ticket to address the below transformation

Transform
[code]
to
[code]

[2016-01-19 02:19] princejwesley commented on #89
![image](https://cloud.githubusercontent.com/assets/1622515/12407832/d6030f28-be80-11e5-97c7-3776898927be.png)

[2016-01-19 02:19] #89 closed

[2016-01-19 02:20] krainboltgreene commented on #89
Nice!
On Jan 18, 2016 6:19 PM, "Prince John Wesley" <notifications@github.com>
wrote:

[2016-01-19 07:48] krainboltgreene commented on #88
Gotcha, thanks so much!

[2016-01-19 07:48] #88 closed

[2016-01-19 09:40] igalic opened #90 "install failure on Ubuntu"
[code]

here's the npm-debug.log:
[code]

[2016-01-19 10:23] princejwesley commented on #90
@igalic run  `npm rebuild node-sass` and then `npm install` which will run `electron-rebuild` as part of `postinstall` script. Finally generate package using `npm run package`

[2016-01-19 10:54] igalic commented on #90
\o/ thanks

[2016-01-19 12:46] #90 closed

[2016-01-21 00:19] wavebeem commented on #87
It works now for me too.

[2016-01-21 00:19] #87 closed

[2016-01-21 17:15] BrandonSmith opened #91 "Object.keys causes SyntaxError"
Entering the following results in a Syntax Error claiming Unexpected token import.

[code]

[code]

[2016-01-21 17:26] princejwesley commented on #91
@BrandonSmith Sorry about that. if you have `Babel Transform` turned on, turn on `strict` REPL mode. In this case, babel imports polyfills and `import` has to be used with `strict` mode.

[2016-01-21 19:21] princejwesley commented on #91
@BrandonSmith [transformed](https://github.com/princejwesley/Mancy/commit/da59b21a0a0dd9536972944c08063f00676c8620) `import` to `require` statements to avoid issues like this.

[2016-01-25 18:29] princejwesley commented on #91
Fix is available in master branch

[2016-01-25 18:29] #91 closed

[2016-01-26 11:26] princejwesley opened #92 "notebook mode"
`Preference` Window option

Editor mode
  - [x] REPL
  - [x] Notebook

Notebook mode enables to edit executed commands

[2016-01-26 19:17] #92 closed

[2016-01-27 10:15] pepkin88 opened #94 "Visualization for `Uint8Array`s"
Node buffers are of type `Uint8Array`. I would be nice to have the same visualization features of buffers from base64 strings.

[2016-01-27 11:14] princejwesley commented on #94
@pepkin88 Fixed. Thanks :smile:

[2016-01-27 11:14] #94 closed

[2016-01-28 21:34] 9000-volts opened #95 "CoffeeScript: Reserved Word 'Void'"
CoffeeScript does not work with Mancy unless I move out of `strict` mode. I get the error `reserved word 'void'`.
![Animated Screenshot](https://cloud.githubusercontent.com/assets/1672106/12659489/0ca256a2-c5dd-11e5-935b-11a17bacf163.gif)
I am using windows 10, node v0.12.7.

[2016-01-28 21:41] #95 closed

[2016-01-28 21:44] princejwesley commented on #95
@9000-volts I haven't closed this issue. looks like new github feature. Feel free to reopen it if the issue still persists.

[2016-01-28 21:48] 9000-volts commented on #95
@princejwesley I'll have to clone the repo and check if it persists.
Amazingly quick response, though! :smile:

[2016-01-28 22:11] princejwesley commented on #95
@9000-volts
[auto issue close](https://help.github.com/articles/closing-issues-via-commit-messages/) - I used one of the reserved words along with issue id in my commit which triggers auto close.

[2016-01-29 15:23] feimosi opened #96 "Object.prototype.isPrototypeOf returns false for object literals"
Not a big issue, but I've just noticed that:
[code]
and
[code]
Of course in both cases it should be true. I've checked that on Node and Chrome. Works good on both.
Mancy v2.2.0

[2016-01-29 16:07] feimosi commented on #34
Maybe docs lookup based on MDN API ? Could show up when I hold Ctrl and hover over a native JS method.

[2016-01-29 16:15] princejwesley commented on #96
@feimosi  Issue is in [script.runInContext](https://nodejs.org/dist/latest-v5.x/docs/api/vm.html#vm_script_runincontext_contextifiedsandbox_options) function.  node repl runs in `global` context(`script.runInThisContext`) and therefore, it works.  I see few [open issues](https://github.com/nodejs/node/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Avm) reported in node repo. Its a v8 issue. n

[2016-01-29 16:29] princejwesley commented on #96
@feimosi I raised [related issue](https://github.com/nodejs/node/issues/3158) few months ago. root cause sounds [similar](https://github.com/nodejs/node/issues/3158#issuecomment-144977632)

[2016-01-29 22:20] feimosi commented on #96
@princejwesley Thanks for the quick response. You're right, it's a node related issue, let's wait for the fix then.

[2016-02-05 22:34] princejwesley commented on #96
@feimosi Its not a node issue. I'll work on the fix.

[2016-02-06 02:39] princejwesley commented on #96
![image](https://cloud.githubusercontent.com/assets/1622515/12864163/c5c77cb2-cca8-11e5-9c63-0ef30e749004.png)

[2016-02-06 09:26] feimosi commented on #96
Great, thanks for the fix! So we can consider this issue as resolved.

[2016-02-06 09:26] #96 closed

[2016-02-15 18:09] xieyuheng opened #97 "can not install 2.2.1"
1  ~/download/Mancy-2.2.1
npm i
npm WARN deprecated react-tools@0.13.3: react-tools is deprecated. For more information, visit https://fb.me/react-tools-deprecated
npm WARN deprecated lodash@1.0.2: lodash@<3.0.0 is no longer maintained. Upgrade to lodash@^4.0.0.
npm WARN deprecated npmconf@2.1.2: this package has been reintegrated into npm and is now out of date with respect to npm
npm WARN deprec

[2016-02-15 18:21] princejwesley commented on #97
@xieyuheng can you confirm the below npm packages are installed successfully ?
[code]

[2016-02-15 18:46] xieyuheng commented on #97
I tryed it with another version of npm it stoped here as following ::

  ~/download/kkkk/Mancy-2.2.1
cnpm i

npm WARN deprecated react-tools@0.13.3: react-tools is deprecated. For more information, visit https://fb.me/react-tools-deprecated

make: Entering directory '/home/xyh/download/kkkk/Mancy-2.2.1/node_modules/font-manager/build'
  CXX(target) Release/obj.target/fontmanager/src/FontManager.o

[2016-02-15 18:48] xieyuheng commented on #97
I also tryed Mancy-linux-x64.zip here :: https://github.com/princejwesley/Mancy/releases/tag/v2.2.1

but nothing happened when I open ./Mancy

[2016-02-15 18:51] princejwesley commented on #97
@xieyuheng Yes, run `npm run package` after `npm install` and run from `dist` directory

If you don't want to build from source, try `npm install -g mancy`

[2016-02-15 18:59] xieyuheng commented on #97
I also tryed npm install -g mancy
but after I open mancy
I can not see the window (even after a long time)
my friend is meeting the same problem as me

thanks for your reply
I am trying to test more

[2016-02-15 19:11] princejwesley commented on #97
@xieyuheng let me check from my linux box.

[2016-02-15 19:31] xieyuheng commented on #97
thanks :)
I really wish to be able to use mancy

[2016-02-15 19:35] princejwesley commented on #97
@xieyuheng prebuilt exe has issues. Try `npm install` and wait till `Starting 'copy'...` task is completed. Run `npm run package` and run ./dist/Mancy-linux-x64/Mancy` from `/home/xyh/download/Mancy-2.2.1/`

I'll fix the executable and upload it.

[2016-02-15 19:37] xieyuheng commented on #97
oh I will try the previous version first

[2016-02-15 19:48] xieyuheng commented on #97
I can run 2.1.0
but in 2.2.0 I meet the same problem

I will use 2.1.0 for now
thanks

[2016-02-15 21:39] princejwesley commented on #97
@xieyuheng Updated executable for linux 64bit.

[2016-02-16 02:07] xieyuheng commented on #97
thanks again

[2016-02-16 02:07] #97 closed

[2016-02-19 19:36] AddictArts opened #100 "With v2.2.1 I can no longer use ES6 let"
let a = [ 1, 2, 3 ]
ES5(transpiled)let a = [
  1,
  2,
  3
];
SyntaxError:  Block-scoped declarations (let, const, function, class) not yet supported outside strict mode

I tried strict, magic, and sloppy. No luck, I get the same error.

[2016-02-19 19:52] princejwesley commented on #100
@AddictArts Fixed.

[2016-02-19 22:19] princejwesley commented on #86
Process options:

[code]

[2016-02-19 22:47] #86 closed

[2016-02-20 11:43] #100 closed

[2016-02-22 21:35] AddictArts commented on #100
Thanks for the quick fix, running the latest from master

[2016-02-27 16:50] Goster opened #101 "How to use Mancy console to learn "selenium-webdriver" ?"
I want to learn "selenium-webdriver" using Mancy so I:
1. downloaded appropriate module into path "A":
cd A
npm install selenium-webdriver
2. next I saved path "A" in Mancy properties as modules path
3. I try to run following code:
[code]
This code runs perfectly when I use node directly (node version -> v5.7.0) but when I run it in Mancy then I get error: "TypeError: capabilities.merge is not a f

[2016-02-27 18:20] princejwesley commented on #101
@Goster I could able to run with the below code (even though, I am getting runtime error saying `cant find irct 'desiredCapabilities'`).
![image](https://cloud.githubusercontent.com/assets/1622515/13374500/4a6edf0a-ddac-11e5-9572-33360c159a14.png)

[2016-02-27 18:27] princejwesley commented on #101
@Goster Add 'A/node_modules' as path

[2016-02-27 19:40] princejwesley commented on #101
@Goster Fixed. Build mancy from source (`master` branch)
![image](https://cloud.githubusercontent.com/assets/1622515/13374907/96c39a8e-ddb7-11e5-95b3-f3556a349220.png)

[2016-02-28 08:35] wenLiangcan opened #102 "Cannot use console.log in TypeScript mode"
![selection_009](https://cloud.githubusercontent.com/assets/1244181/13378236/49cd2b50-de39-11e5-9a8f-e47efcc2ca2b.png)

[2016-02-28 08:42] princejwesley commented on #102
@wenLiangcan Use `global.console` as  work around.

[2016-02-28 08:44] wenLiangcan commented on #102
Thank you, that worked!

[2016-02-28 19:50] princejwesley commented on #102
@wenLiangcan Fix is available in master branch

[2016-02-28 19:50] #102 closed

[2016-02-29 01:13] wenLiangcan commented on #102
Thanks @princejwesley

[2016-02-29 12:34] princejwesley commented on #102
@wenLiangcan welcome :smile:

[2016-02-29 12:37] Goster commented on #101
thx for quick response ;-)

I did (I didn't see errors during the whole process):
Clone and run npm install & npm run package
and now Mancy starts but window is empty ;-( :
![screenshot - 2016-02-29 13_32_33](https://cloud.githubusercontent.com/assets/16000763/13394523/47d71e36-dee9-11e5-94fe-2a7d61e609ce.png)

BTW: thx for great software ! ;-) I see a lot of potential in Mancy

[2016-02-29 12:43] princejwesley commented on #101
@Goster Try `npm run debug` or `gulp debug`. Once app is up, select `view > Toggle Developer Tools` and paste the console error here.

[2016-02-29 12:49] princejwesley commented on #101
@Goster I remember, I faced `electron-rebuild` related issue while building exe in windows. Try [this suggestion](https://github.com/electronjs/electron-rebuild/issues/39#issuecomment-165128082)

[2016-03-01 12:42] Goster commented on #101
cd Mancy\resources\app
npm run debug
_[13:30:08] No gulpfile found_

I can't find file spawn.js in Mancy directory

[2016-03-01 12:44] princejwesley commented on #101
@Goster Pull the latest code and run `npm install` and `npm run package`

[2016-03-01 15:06] Goster commented on #101
Now it works!! thx!

Last question: is it normal situation that when I run following code (which has a bug inside -> wrong path to exe file):
[code]
then I don't see any error on console unless I do something like this:
[code]

?

[2016-03-01 15:14] princejwesley commented on #101
@Goster Any errors should be displayed. I'll look into that. Can you raise new bug or I'll do?

[2016-03-01 15:17] Goster commented on #101
no problem ;-)

[2016-03-01 15:21] Goster opened #103 "Error from promise not displayed in console"
I have code which has a bug inside (wrong path to exe file):
[code]
(As I suppose there is a promise returned from build method)
When I run this code then I don't see any error on console unless I do something like this:
[code]

[2016-03-01 16:41] #101 closed

[2016-03-01 17:41] princejwesley commented on #103
![image](https://cloud.githubusercontent.com/assets/1622515/13435953/e4b6fca2-e002-11e5-9830-80331335a927.png)

[2016-03-01 17:42] princejwesley commented on #103
@Goster Fix is pushed to master.

[2016-03-02 12:33] Goster opened #104 "Right mouse click on "Paste" ends with an error"
1. copy following code:
[code]
2. open new instance of Mancy
3. right click on the row with text input field and choose option "Paste"
4. it gives us an error in console:

Error: Could not call remote function ``. Check that the function signature is correct. Underlying error: Menu.sendActionToFirstResponder is not a function
Error: Could not call remote function ``. Check that the function signat

[2016-03-02 12:47] princejwesley commented on #104
@Goster this could be electron bug. I'll look into that and update here

[2016-03-02 13:23] princejwesley commented on #104
@Goster can you please confirm the fix?

[2016-03-02 16:36] Goster commented on #104
yes I confirm that it is fixed in new build. thx

[2016-03-02 17:43] #104 closed

[2016-03-03 17:05] timnew opened #105 "Open Mancy as management for specific node.js app"
I have looking for solution in node.js world as Rails Console in Ruby on Rails world.

In some time, we might want to do some temporary diagnosis or management task for node app(such as express web server that connected to db/redis other resources)

In this scenario, I want to run some snippet based on my app logic.
Such as instantiating a business model with some hand-writing values and then savi

[2016-03-03 17:35] princejwesley commented on #105
@timnew Added path support from process argument. Use  `mancy -p path`

[code]

[2016-03-05 01:31] georgejecook opened #106 "really really needs bracket matching."
would be great to get highlighting for brackets, so you can see which ( or { you are closing when you type ( or }

[2016-03-05 01:32] georgejecook opened #107 "on mac, focus is frequently lost from entry line"
and you have to click back there with the mouse.
 I woudl expect any cursor key would put me back in that text box.

[2016-03-05 01:50] princejwesley commented on #107
Duplicate of #12

[2016-03-05 01:50] #107 closed

[2016-03-05 01:51] princejwesley commented on #106
Time to refactor and use real code editor.

[2016-03-05 01:53] georgejecook commented on #12
I tried it on version 2 and it still loses focus all the time

![screen shot 2016-03-04 at 8 52 25 pm](https://cloud.githubusercontent.com/assets/1214545/13544897/1aef2b9c-e24b-11e5-8572-beaf47ab6245.png)

[2016-03-05 01:54] princejwesley commented on #12
@georgejecook Yes. We can track focus issue here.

[2016-03-05 01:54] georgejecook commented on #12
yes. sorry about the dupe.

[2016-03-05 01:55] princejwesley commented on #12
@georgejecook No problem :smile:

[2016-03-05 01:56] georgejecook commented on #106
I concede that's the case; but look at this
`User.findAll({where:{lastName:'cook'}}).then(function (users){users.map (function (u){console.log(u.lastName)})})`

I don't think that's really _that_ big.. but it's a pita to write without some kind of bracket help. I'll look into adding it in a week or two; but if you know how to do it, you really should - it would help a lot. Great REPL btw - very pr

[2016-03-05 02:01] princejwesley commented on #106
@georgejecook @pmros suggested to use real editor like code mirror. Integrating code mirror saves time and we no need to test and maintain editor specific code. Every time adding new feature with limited testing is not a good sign :smile:

[2016-03-05 12:36] princejwesley commented on #106
Code mirror is integrated to master. Keeping this ticket open until master branch is stable.

[2016-03-05 12:55] antonyr commented on #106
:+1:

[2016-03-06 03:46] princejwesley commented on #12
Only feasible solution is to make sure to focus active prompt
 - After every command execution
 - on window getting focus
 - Missed something!!! :microscope:

Focusing when
 - clicking off the prompt (_selecting data from main area is impossible if we keep the focus off_ )
 - minimise/close command output (_if we have sufficient data in main window, every minimise/close action scrolls window down

[2016-03-08 03:23] princejwesley commented on #37
History navigation support is merged to master. History search development is in progress

![image](https://cloud.githubusercontent.com/assets/1622515/13591043/21b3b9b2-e50b-11e5-857f-aeb24a8cb42a.png)

[2016-03-08 23:11] princejwesley commented on #37
History data is considered as part of auto completion result. Available in master branch

[2016-03-18 15:16] WolfieWerewolf opened #110 "Similar to issue #83 with fix"
Hey... just thought I would let you know that I just cloned this and when I attempted to npm install I was also getting errors from node-gyp related to font-manager.  I'm on OSX 10.11 (all updates) and at this time the version of Electron-prebuilt it's pulling down is 0.37.2.  I checked the NPM status of font-manager and noticed that their current version is 0.2.2 and the provided package.json was

[2016-03-18 15:19] princejwesley commented on #110
@WolfieWerewolf , I am aware of that and I have a fix in my `clojurescript` branch. I'll merge it to master in few days.

In fact, I raised a ticket [there](https://github.com/devongovett/font-manager/pull/5) :)

[2016-03-18 15:21] WolfieWerewolf commented on #110
Awesome.. please feel free to close this as it wasn't really an issue anyway.. I didn't look at any of the other branches.. I typically just clone the master recursively.  Again, great stuff!

Thanks

[2016-03-18 15:23] princejwesley commented on #110
@WolfieWerewolf I'll keep it open until I merge `clojurescript` branch to master

[2016-03-18 20:45] AddictArts commented on #73
Here is some help I hope. Fresh Windows 7 x64 machine. I tried both nodejs 4.4 and 5.8 and it did not matter which one for me, as well as npm 2 vs npm 3. So, now that that is out the way.

* I installed nodejs using the msi
* I did a git clone first.

1. font-manager would failed to build. So, to fix it I bumped the version to 0.2.2 in package.json

npm install worked after that.

2, npm run packa

[2016-03-18 20:48] princejwesley commented on #73
@AddictArts font-manager 0.2.2 version is a new issue due to electron upgrade. I have a fix in clojurescript branch. I'll merge clojurescript branch to master in few days. Sorry for the incovinence

[2016-03-18 21:03] princejwesley commented on #110
Merged font-manger version upgrade changes to master.

[2016-03-18 21:03] #110 closed

[2016-03-18 21:12] princejwesley opened #111 "ClojureScript Support!"
`ClojureScript` Support for Mancy 3.0 :see_no_evil: .

Tracking Branch:~~` clojurescript`~~ `master`

**Features**
- [x] `ClojureScript` Language Integration
- [x] Control over compiler **warnings**
- [x] Parinfer editor modes
- [x] Show namespace
- [x] Data Visualization
   -  [x] Basic Data Visualization
   -  [x] Full Support
- [x] Auto complete Support

Last Updated: `Sun Mar 27 2016 01:43:27

[2016-03-20 21:52] princejwesley commented on #111
First set of working features are merged to master

[2016-03-25 04:32] sntiagoma commented on #34
How can I watch the printed result in stdout of a console.log?

[2016-03-25 05:40] princejwesley commented on #34
@sntiagoma Toggle the _> icon located at bottom right of status bar

[2016-03-26 12:05] necinc opened #113 "App reloading by Ctrl + R"
Hi, you made great app. I had used it a few times and I had such situations: I had already  written many lines of code I had accidentally pressed `Ctrl + R` and... Oh nooo! Application is reloaded. All my work is lost.. Could you block this key combination? Will it useful for many developers, or it happens only with me?

[2016-03-26 12:07] princejwesley commented on #113
@necinc I'll make it harder with extra key combination.

[2016-03-28 07:06] #113 closed

[2016-03-28 07:07] #106 closed

[2016-03-28 07:07] #111 closed

[2016-03-28 07:07] #48 closed

[2016-03-28 07:07] #37 closed

[2016-03-28 07:08] #12 closed

[2016-03-28 07:08] #105 closed

[2016-03-28 19:15] princejwesley opened #114 "[CLJS] Output rendering for Sequences > 100 is wrong"
![image](https://cloud.githubusercontent.com/assets/1622515/14087376/643b8458-f547-11e5-9ad9-8b2ba9b19f4b.png)

[2016-03-28 19:16] princejwesley opened #115 "[CLJS] Show Index for Sequence output"
Index is currently showed as tooltip message which may not be rendered if the inner element has its own tooltip.

[2016-03-28 19:18] princejwesley commented on #115
Addressed [here](https://github.com/princejwesley/Mancy/commit/35dcddfb8c1c95cbfc03c3d7af79f96fe8f59d05)

[2016-03-28 19:18] #115 closed

[2016-03-29 21:15] hex13 opened #116 "can't run tests"
Hello,
I cloned repo, run `npm install` and `npm run package`, the I run `npm test` and what happened:

[code]
(and it's hanging on "running 1 test")

OS X 10.9.5
Used node version  v4.4.0 (npm v2.14.20) but I tried some other versions too.

I suppose that problem could be related with:
https://github.com/facebook/jest/issues/554
(although they write about npm3 but I used npm 2.14.20, like I wrote

[2016-03-29 21:44] princejwesley commented on #116
@hex13 Yea. it should work on that area. It was working fine in version 1. I didn't write nor update the test cases. I'll spend time to fix and update here :smile:

[2016-03-29 23:08] hex13 commented on #116
So on your installation you can't also running tests?

Because I wanted to add a feature. I made a preview feature for React elements:
https://github.com/princejwesley/Mancy/pull/117 (no tests for now).

[2016-03-30 01:31] princejwesley commented on #116
@hex13 Yea. No issues.

[2016-03-30 17:44] BrandonSmith opened #118 "Hangs after upgrade to 3.0"
Updated to 3.0 and Mancy hung will starting up the first time. Main window is shown just in empty state... no line for input and not bottom toolbar. Quitting and restarting resulted in the same. Only upon deleting ~/Library/Application Support/mancy and restarting did Mancy start fully.

[2016-04-04 11:03] voronianski opened #119 "Move REPL components to separate module"
@princejwesley did a great job with REPL UI in React components. Is it possible to move them into separate module so everybody can reuse them? What do you think?

[2016-04-04 12:51] princejwesley commented on #119
@voronianski At the moment, React components are tightly coupled with other core parts.

- Laziness
	- In order to support loops in the object tree(e.g global object has aliases/self references like root, GLOBAL)
	- for performance
- It has access to global preference object(this one can be refactored. After all, its a contextual data)
- Because of the lazy nature, it relies on common utility func

[2016-04-17 05:39] beppu opened #120 "Add module path doesn't work"
When you try to add a new module path, it crashes, because it's trying to call `forEach` on an object called `langs`.

https://github.com/princejwesley/Mancy/blob/master/src/languages/ReplLanguages.js#L71

Mancy v3.0.0 OSX

[2016-04-17 06:18] princejwesley commented on #120
This issue affects `clojurescript` mode.

[2016-04-17 06:18] princejwesley commented on #120
Fix is merged to master.

[2016-04-17 06:18] #120 closed

[2016-04-18 18:48] Kikobeats commented on #12
Currently the window lose the prompt cursor all the time:

![test](https://cloud.githubusercontent.com/assets/2096101/14615627/d79d8b2a-05a6-11e6-9376-cc33dc232ab7.gif)

specially in the new notebook mode!

[2016-04-18 18:59] Kikobeats opened #121 "Auto expand object/array results"
Maybe this options is implemented and I didn't find how to enable it.

Basically instead of write something and click in the object return to be expanded, expanded automatically:

<img width="386" alt="screen shot 2016-04-18 at 20 58 22" src="https://cloud.githubusercontent.com/assets/2096101/14615917/527f33ba-05a8-11e6-93f1-115915300e11.png">

 Maybe could be possible setup a N depth level in set

[2016-04-18 22:50] princejwesley opened #122 "Focus Issue in Notebook mode!"
Currently the window lose the prompt cursor all the time:

![https://cloud.githubusercontent.com/assets/2096101/14615627/d79d8b2a-05a6-11e6-9376-cc33dc232ab7.gif](https://cloud.githubusercontent.com/assets/2096101/14615627/d79d8b2a-05a6-11e6-9376-cc33dc232ab7.gif)

specially in the new notebook mode!

Originally reported here: https://github.com/princejwesley/Mancy/issues/12#issuecomment-211523093

[2016-04-18 23:05] princejwesley commented on #122
Focus issue is in regex viewer as well.

[2016-04-18 23:21] princejwesley commented on #121
It is not implemented. At the moment, we don't have the contextual information like `depth` of the element.

##### Questions
1. Which one is more useful? Top level or `N` level ?
2. What would be the `max` level If we provide support for `N` levels? ( Remember, we will lose lazy rendering of elements upto `N` levels). There is a performance issue for rendering some big objects with more than one s

[2016-04-18 23:22] princejwesley commented on #121
[_Off topic_] I suggest to use regex viewer for the above example.

![image](https://cloud.githubusercontent.com/assets/1622515/14622501/efefdc64-05e7-11e6-9555-f72271c16af5.png)

[2016-04-19 07:49] Kikobeats commented on #121
Actually I don't know how prints in the REPL is implemented, but I think that util.inspect (`depth` option) could be useful for do it:
https://nodejs.org/api/util.html#util_util_inspect_object_options

This code is an example of copy/paste from internet. Although your offtopic is great sugar for the REPL, you need think that (IMHO) copy/paste is a universal driven development 😛.

[2016-04-19 08:06] pwesleyc-rpx commented on #121
@Kikobeats As per current implementation, there is no depth limit as such. Its lazy and therefore, the stack won't grow and is fast since we are serving nested object's view only when the user interested in viewing it.
Configuration for top level auto expansion is good option. 👍  I don't see issues in carrying depth info around while building object tree.

[2016-04-19 08:13] princejwesley commented on #121
@Kikobeats As per current implementation, there is no depth limit as such. Its lazy and therefore, the stack won't grow and is fast since we are serving nested object's view only when the user interested in viewing it.
Configuration for top level auto expansion is good option. 👍 I don't see issues in carrying depth info around while building object tree.

[2016-04-19 08:18] Kikobeats commented on #121
Hmm but click in ">" is more a frontend issue, or how to resolve it?

[2016-04-19 08:31] antonyr commented on #121
@princejwesley I think it is a good idea to expand and show the result up to 2 levels. This should also be driven only through a setting. It is also good to have depth setting for console. Yes we can ignore depth support for Regex, Charts and Buffers

[2016-04-19 08:35] princejwesley commented on #121
@Kikobeats `>` carries a initial state that has to be toggled based on the configuration and pass on the `current depth + 1`  level to its immediate children.

Only problem is, we should limit the max `depth` level(may be `5` or `8`).
Reasons are,
  1. JS objects are not directed acyclic graphs(DAGs). Objects may have reference loops(In `util#inspect` case, `util#inspect` does know the circular re

[2016-04-22 14:32] lvegerano commented on #118
I'm having the same issue

[2016-04-23 18:10] #122 closed

[2016-04-23 23:31] mattsfrey opened #123 "Fatal crash on startup OSX El Capitan 3.0 AND 2.2.2"
Get this in the electron exception window as soon as I try to run the app via double click on the .app file.

[code]

[2016-04-24 02:55] princejwesley commented on #123
I suspect electron's `screen` object is null.

[2016-04-24 03:13] princejwesley commented on #123
@mattsfrey  Are you getting any one of the below error message before getting `Cannot set property '__proto__' of null`?

or

[2016-04-24 03:18] mattsfrey commented on #123
I was not, first error msg is what I posted. Note: I have since pulled the source and done npm install etc., and now when I double click the app it opens as it should, so it could be an environment factor.

[2016-04-26 18:08] mcendon commented on #105
It doesnt work

[2016-04-26 18:18] princejwesley commented on #105
@mcendon Which command line option is not working? I'll try to set up and test it.

[2016-05-06 17:21] mcendon commented on #105
Hi, no one is working... i've try -h, --help, --debug, and others and nothing happens, only the mancy gui is showed...
I always get the same behavior in all cases

Maybe you can try with the --help or -h command option first to test it

[2016-05-06 18:20] princejwesley commented on #105
@mcendon Very sorry. I'll fix this issue.

Here is an ugly work around: (ignore the first option)
[code]

[2016-05-06 18:42] princejwesley commented on #105
@mcendon Try `npm` version: `3.0.0-1`. Fixed [here](https://github.com/princejwesley/npm-mancy/commit/38f2718180122d84be47257965c26380ddd729ee)

[2016-05-06 19:58] mcendon opened #124 "Please add a --session option to load a session from command line"
Hi, I have a program that exports a mancy's session file and I want to load it from command line.

I've tried with the --script option but it was made to load a .js

Please add a --session option (or similar) to load a session from command line

[2016-05-06 20:00] princejwesley commented on #124
Sure. I'll do and let you know

[2016-05-06 20:01] mcendon commented on #105
@princejwesley thank you!!! , it works now :)

can you please see this? https://github.com/princejwesley/Mancy/issues/124

[2016-05-06 20:04] mcendon commented on #124
Thanks!!!!! :100:

[2016-05-08 19:27] princejwesley opened #125 "Add elm support"
🔌 Elm support

[2016-05-09 09:21] aamirtharaj-rpx commented on #125
👍

[2016-05-09 10:24] princejwesley opened #126 "Notification Thread"
This thread is for release and new feature notifications. Click <kbd>🔈Subscribe</kbd> button for notification as shown below:

![image](https://cloud.githubusercontent.com/assets/1622515/15110079/7f640ec8-15fc-11e6-8b6c-4e8e5c6ce98c.png)

[2016-05-26 05:54] cloudqq opened #127 "Not download npm automaticly"
let moment = require('moment');

I think it will download the npm package automaticly, is it a BUG?

[2016-05-26 05:58] princejwesley commented on #127
I'll test it once I have access to my machine

[2016-05-27 00:12] princejwesley commented on #127
@cloudqq  It works fine for me. Can you increase execution timeout preferences and try again?

[2016-05-27 02:00] cloudqq commented on #127
I've adjusted the "excution Timout“ to 600000, but nothing happened. How to enable debug log?

[2016-05-27 02:04] princejwesley commented on #127
@cloudqq Got same error? Can you join in [gitter](https://gitter.im/princejwesley/Mancy) to discuss further?

[2016-05-27 02:43] princejwesley commented on #127
###### Automatic download path

Platform | Download Path
------------ | -------------------
Windows | C:\Users\%USERNAME%\AppData\Local\mancy\node_modules
OS X | ~/Library/Application Support/mancy/node_modules
Linux | ~/.config/mancy/node_modules

[2016-05-31 00:08] fibric commented on #127
it doesn't download on demand on my machine too.

`require('whatwg-fetch')`
[code]

I had to install it manually. Maybe it doesn't install because `node_modules` doesn't exist.
[code]
`require('whatwg-fetch');
 Object {}
__proto__
:
 Object {}`

[2016-05-31 01:39] princejwesley commented on #127
@fibric
can you try adding below log and debug [here](https://github.com/princejwesley/Mancy/blob/master/src/common/ReplContext.js#L90) ?

[code]

[2016-05-31 04:45] fibric commented on #127
@princejwesley In debug mode it downloads automatically without any error. I had this error only once after packaging an OSX build, but this electron build doesn't open the devTools. Don't see the log outputs, nothing logged in console.app.

[2016-05-31 04:57] princejwesley commented on #127
@fibric  `context.console.log` logs to application. we have to pass `--debug` flag to enable chrome dev tool.

[2016-06-02 03:31] mzvast opened #128 "crash with autocompletion on"
windows10 x64

when using
`var expect = require('require') `

With 100%  crash with no response ,after closing which just can't start mancy again,it shows:

$ mancy
module.js:327
    throw err;
    ^

Error: Cannot find module 'C:\Program Files\nodejs\node_modules\mancy\cli.js'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Functio

[2016-06-09 17:40] stantoncbradley opened #129 "port to mobile???"
Hi there,

I'm looking for a JS REPL for iOS.  Since I didn't find on I thought I'd see what it would take to make one.  I found your app, and since it's already in react, I wondered if you considered porting to react-native?  Let me know your thoughts, I may try porting it myself.

Thanks,
Cole

[2016-06-09 19:44] nschurmann opened #130 "Install fails on OSX"
Hello!

install fails when i try to in install it via npm:

[code]

[2016-06-09 22:21] princejwesley commented on #130
@nschurmann `v2.2.2` is old. May be try `npm uninstall -g mancy` and then `install`.

[2016-06-09 22:41] princejwesley commented on #129
@stantoncbradley I don't know much about `react-native`. This application depends on native modules. I believe that porting the whole/subset of it is a non trivial task(I have no idea how much of the code can be reused!).

Please feel free to contact me in gitter or email if you need any help.

Good luck 👍

[2016-06-10 14:45] nschurmann commented on #130
@princejwesley doesn't work, keeps throwing same error :(

[2016-06-10 15:03] princejwesley commented on #130
I can able to install from `npm`.

[code]

Try clean the cache `npm cache clean` or remove the cache directory in `~/.npm/mancy`

[2016-06-10 15:10] jakubholynet opened #131 "Make it possible to set the working directory to enable relative requires"
I would like to be able to start Mancy from my Node project directory and be able to require files in it (`require("./my-project-file.js");`). It could either pick up the directory when starting or accept a setting / command line option to set the working directory.

That way, it would be much easier to experiment with an existing project.

(Currently my workaround is to do `const root= "/absolute

[2016-06-10 15:21] nschurmann commented on #130
still :(
[code]

any way to force install 3.0.0?

[2016-06-10 15:23] princejwesley commented on #130
Yes, `npm install -g mancy@3.0.0-1`

[2016-06-10 15:42] jakubholynet opened #132 "new Promise(() => {}) fails with "Cannot read property 's' of undefined""
Mancy looks awesome but I have some problems with it, including this: When executing `new Promise(() => {})`, it fails with

Stack trace:

[code]

Environment:
- OS X 10.10.5
- Node 6.2.1
- Mancy 3.0.0
- Using strict JS, no babel transf.

Thank you!

[2016-06-10 15:44] nschurmann commented on #130
yay!, it worked ^^, now i have other issue with typescript.

[2016-06-10 15:44] #130 closed

[2016-06-10 15:45] nschurmann opened #133 "Types on typescript are not respected"
when i write:
[code]

This should throw an error.

[2016-06-10 15:49] princejwesley commented on #133
@nschurmann  Turn off   `Preferences > Compiler Options > Ignore Semantic Errors`
![image](https://cloud.githubusercontent.com/assets/1622515/15970169/faf119ba-2f50-11e6-8ce4-6fff94d85d3b.png)

[2016-06-10 15:55] nschurmann commented on #133
lol, thanks @princejwesley

[2016-06-10 15:55] #133 closed

[2016-06-10 15:57] jakubholynet commented on #132
It happens at these lines:

[code]
The thing is that even though `o instanceof BabelCoreJS.default.Promise` is true, `Object.getOwnPropertyNames(o)` (as well as `Object.keys(o)`) returns an empty array.

[2016-06-10 16:00] princejwesley commented on #132
@jakubholynet Yes. Looking into it! 😄

[2016-06-10 16:10] jakubholynet commented on #132
On the other hand, `makeMirror(o)` has the functions "status,promiseValue,className,constructoeHandle_,allocateTransientHandle_,handle"

I guess that we believe that this is `BabelCoreJS.default.Promise` but it is (at the same time) the native node Promise and thus should not be treated as a `BabelCoreJS.default.Promise`.

[2016-06-10 16:10] princejwesley commented on #132
@jakubholynet Yes, I fixed it! Having style issue. I'll merge it shortly!

[2016-06-10 16:15] princejwesley commented on #132
![image](https://cloud.githubusercontent.com/assets/1622515/15970876/91d8a0ca-2f54-11e6-92c7-b6ecc97e304a.png)

[2016-06-10 16:16] jakubholynet commented on #132
I assume the fix might break the code when using an older Node that does not have native promises, but I guess we do not want to support that anyway :)

[2016-06-10 16:18] princejwesley commented on #132
@jakubholynet Electron is bundled with node, therefore, no issues

[2016-06-10 16:19] princejwesley commented on #132
@jakubholynet Thanks 👍

[2016-06-10 16:22] jakubholynet commented on #132
Thank you for the quick fix!

[2016-06-10 17:52] #132 closed

[2016-06-13 16:09] mcendon commented on #124
Hi @princejwesley, do you already have an aprox date for the next release?

[2016-06-13 16:31] princejwesley commented on #124
@mcendon End of this month! (I'll fix open tickets and release it)

[2016-06-14 14:52] kucukkanat opened #134 "How does require work?"
When i type
[code]
there is a loading icon spins around as I guess it downloads the package from npm. But where does Mancy exactly download the package in my PC. Does anybody have an idea ?
Tried hard but couldn't find a clue.

[2016-06-14 14:54] princejwesley commented on #134
###### Automatic download path

Platform | Download Path
------------ | -------------------
Windows | C:\Users\%USERNAME%\AppData\Local\mancy\node_modules
OS X | ~/Library/Application Support/mancy/node_modules
Linux | ~/.config/mancy/node_modules

[2016-06-14 14:56] kucukkanat commented on #134
Awesome quick response! Thanks for it.
One quick and last question about modules:
When I File>Add Module Path , is it only for the app session or does it keep when I close and open Mancy back again? How does it actually work ?

[2016-06-14 14:58] princejwesley commented on #134
@kucukkanat To persist your configuration, use `Preferences > Add Node Modules Path`
![image](https://cloud.githubusercontent.com/assets/1622515/16047635/7531f65c-326e-11e6-9812-31e26b335b29.png)

[2016-06-14 15:45] mcendon commented on #124
@princejwesley Great! thanks!

[2016-06-19 05:24] WolfieWerewolf opened #135 ""babel-runtime": "^6.9.1","
Dude.. I love this project but you might want to consider deleting your global node_modules folder or something... I have yet to get this thing to build without having to find the missing dependency.  This time you're missing the one above.

:-)

[2016-06-19 06:00] princejwesley commented on #135
@WolfieWerewolf It works for me without explicitly adding the above dependency even after deleting global and local modules. Last time, I removed `babel-runtime` dependency to avoid downloading multiple versions of it (It helped to reduce executable memory size - check the exe size between last two releases) and the npm modules layout was better!. I think, its something to do with `npm 3`. I have

[2016-06-19 06:04] WolfieWerewolf commented on #135
Hey mate... I'm glad you weren't offended.. I actually depend on your
tool every day I really should start contributing to your project.  I'm
using npm 2.15.1 on OSX, maybe it's a mac thing.

Also there's bug with all the file related menus.  It complains about
the title not being a string and then refused to display the dialog.. as
a quick and dirty fixt I edited all the title properties in
MenuM

[2016-06-19 06:12] princejwesley commented on #135
I am using mac for development. I have to update doc to enforce npm3 as build requirement.

Regarding title issue,  It could be because of new electron version. I will update latest version  and will go through their change log.  :smile:

[2016-06-19 06:51] princejwesley commented on #135
Thanks for reporting :smile:

[2016-06-19 06:51] #135 closed

[2016-06-21 11:56] jakubholynet opened #136 "`/AB/ instanceof RegExp` is `false`?!"
In a browser or node REPL:

[code]
but in Mancy I get `false` for some weird reason.

(Mancy 3.0.0, JS strict, no Babel)

[2016-06-21 11:59] jakubholynet commented on #131
I would be willing to help implement it if you could point me in the right direction (where to look / add it)

[2016-06-21 14:47] princejwesley commented on #131
@jakubholynet I'll check and let you know.  I forgot the reason why I set [this](https://github.com/princejwesley/Mancy/blob/master/src/main/index.js#L83)

[2016-06-21 16:52] jakubholynet commented on #131
Thanks!

Good messages in commits / comments FTW :)
tir. 21. jun. 2016 kl. 16.48 skrev Prince John Wesley <
notifications@github.com>:

[2016-06-21 18:44] princejwesley commented on #136
Related https://github.com/nodejs/node/issues/7351

[2016-06-26 23:34] jasonpang opened #137 "ES6 file loading support"
I'm trying to have Mancy load my ES6 project so that I can use it as an interactive REPL console.

Using the latest version of Mancy, tried to start it with the path option as described in some of the issues here:

`mancy -p /Users/jpang/code/project`

However, loading files relative to my project like:

`import './script.js'`

Returned a not found.

`.require('./script.js')`

Returned a not found

[2016-06-27 01:18] #136 closed

[2016-06-27 01:19] princejwesley commented on #137
Duplicate of https://github.com/princejwesley/Mancy/issues/131
Sorry for the pain! I'll fix it this week and let you know.

[2016-06-27 06:05] princejwesley commented on #131
Try this fix 😄 Its a hack to make it work. While loading relative path, parent module file is set as `index.html`. Let me see whether there exists a better fix for this problem.

Unfortunately This particular fix is tricky, Its not easy to show direction. Very sorry!!!

[2016-06-27 06:14] princejwesley commented on #137
Fix is merged in master. Try and let me know. Use #131 to track this issue.

[2016-06-27 06:14] #137 closed

[2016-06-27 06:14] #134 closed

[2016-07-07 10:23] bunea commented on #127
I had this happen to me too.

I didn't have a node_modules folder inside " ~/Library/Application Support/mancy/node_modules". Once I created it everything started working fine. I guess it just expects the folder to exist.

[2016-07-08 19:46] hph opened #138 "Issues overriding existing function names (editing functions)"
I run into the issue quite frequently that I've written a function which I want to edit. It's very convenient to be able to press the up arrow and get the whole definition again, but it doesn't seem to be very effective, as the new function body is completely ignored.
There are, of course, workarounds for this, like choosing a new name for the function or always assigning the function to a variabl

[2016-07-08 20:33] princejwesley commented on #138
Duplicate #29
Reason https://github.com/nodejs/node/issues/548

[2016-07-08 20:56] hph commented on #138
Thanks @princejwesley, I've subscribed to the other issue.

[2016-07-08 20:56] #138 closed

[2016-07-08 22:14] princejwesley commented on #29
Temporary fix:

![image](https://cloud.githubusercontent.com/assets/1622515/16702972/57f1157e-4587-11e6-9fe0-b69ed92d0df9.png)

[2016-07-12 20:31] mcendon commented on #124
any update? @princejwesley

[2016-07-12 20:32] princejwesley commented on #124
@mcendon Very sorry 😞 . I'll build binaries and release this week end. I'll inform you once done.

[2016-07-13 07:50] agauniyal opened #139 "app.isUnityRunning is not a function"
[code]

Arch linux x64, node v6, installed via aur

[2016-07-13 07:54] princejwesley commented on #139
@ayanonagon can you please upgrade electron version by running `npm update`.

[2016-07-13 09:03] agauniyal commented on #139
I'll report once electron package is updated on aur. It's already marked as out of date.

[2016-07-17 06:10] princejwesley commented on #124
@mcendon Released!

[2016-07-17 06:15] princejwesley commented on #126
Released `v3.1.0`

[2016-07-19 18:35] Krajsnick opened #140 "Electron default app icon on 3.1.0"
Hi!

The default Electron app icon is being used when downloading darwin x64 3.1.0.

The pink Mancy REPL icon worked before, in 3.0.0.

[2016-07-19 18:37] princejwesley commented on #140
😱 Thats bad

[2016-07-19 18:38] Krajsnick commented on #140
Yes it is! :) Because the icon that should be there is gorgeous!

[2016-07-20 17:32] mcendon commented on #124
@princejwesley im having the following problem

mauro@mauro-pc:~/Downloads/Mancy-linux-x64$ npm install -g mancy@3.1.0
npm ERR! Linux 4.4.0-31-generic
npm ERR! argv "/home/mauro/.nvm/versions/node/v4.3.1/bin/node" "/home/mauro/.nvm/versions/node/v4.3.1/bin/npm" "install" "-g" "mancy@3.1.0"
npm ERR! node v4.3.1
npm ERR! npm  v3.10.5

npm ERR! No compatible version found: mancy@3.1.0
npm ERR! Valid

[2016-07-20 17:50] princejwesley commented on #124
@mcendon Sorry! Try now!

[2016-07-24 15:18] Krajsnick opened #141 "Automatically scroll to bottom when opening a function block"
![no-scroll-mancy](https://cloud.githubusercontent.com/assets/979555/17084612/8b251afc-51c2-11e6-9a37-6f7a148c7c05.gif)

[2016-07-28 19:30] texastoland commented on #140
I miss the icon too 😰

[2016-08-03 14:10] agauniyal commented on #139
solved.

[2016-08-03 14:10] #139 closed

[2016-08-17 22:56] halfnibble opened #143 "Feature Request: Set Tab Size"
I'm not seeing a way to set it in the settings page.

Everybody has their own preferred tab size. My vision isn't that great, so I have trouble distinguishing with only two-spaced tabs.

[2016-09-08 14:48] sibelius opened #144 "[idea] mancy for terminal/console"
Mancy idea is really great

But I would like to use it on terminal instead of an electron app

Maybe we could split Mancy in mancy core that could work on both electron app and with terminal based approach

My current approach to have a node repl running my server is like this

[code]

Instead of replPromised we could use mancy-core to provide all the awesome features of Mancy

[2016-09-08 14:50] sibelius commented on #116
@princejwesley you should consider using Snapshot testing available on jest 14 - https://facebook.github.io/jest/blog/2016/07/27/jest-14.html

it makes testing very simple

[2016-09-08 15:08] princejwesley commented on #144
@sibelius I am currently interested in making core node REPL better. Here is a [proposal](https://github.com/nodejs/node/issues/8195)

[2016-09-08 18:46] sibelius commented on #144
this would be awesome, but what happens with the older version of node?

can't we try to do both approach?

I don't know if you know ipython (an interactive repl for python)

I think core node REPL should provide the bare minimum, and let other solutions like this one provide extensions

[2016-09-12 07:50] missbenben opened #145 "ssss"

[2016-09-12 07:52] #145 closed

[2016-09-13 23:24] orionlee opened #146 "Cannot load javascript (es6) files where there are block comments in a class"
Problem:
- In loading a .js file (ES6), Mancy *silently* failed.
- It turns out it fails where there are block-level comments at ES6 class functions, e.g.,
[code]
- See screenshot below
- Loading the file works if
    - the block comments are converted to line comments , or
    - if I copy/paste the code  to REPL buffer directly instead of loading the file

- The loading might not have failed comp

[2016-09-13 23:34] orionlee opened #147 "Error (the object and stacktrace) not showed up in log panel"
In Mancy v3.1.0, if `console.error()` contains Error objects, the objects do not show up in log panel .

E.g., for the following statement

    console.error('Test error not showing up: ', new Error('dummy error message'))
The log panel only shows the string, but not the error object (neither the message nor stacktrace).

Environment: Mancyv3.1.0(win 64bit) on windows 7

Thanks for the attention.

[2016-09-14 00:04] orionlee opened #148 "Mancyv2.2.2: cannot load javascript files with the word null"
In Mancy v2.2.2, if I load a javascript file including the word null, such as the followingil
[code]
The loading just failed and stopped silently.

The word null can even simply be in comment for the loading to fail:
[code]

The problem no longer exists in v3.1.0,  v3.1.0 has a similar problem for another type of text (block comment in class functions. See #146.

Thanks.

[2016-09-14 04:42] princejwesley commented on #148
👍

[2016-09-14 04:42] #148 closed

[2016-09-14 07:35] princejwesley commented on #140
Sorry for the delayed response.

Do this to fix the problem:
From `finder`, Open `Mancy.app > Show Package Content > Contents > Info.plist`
and update `electron.icns` to `atom.icns`
![image](https://cloud.githubusercontent.com/assets/1622515/18503517/e768ad0c-7a7a-11e6-9792-49a1ae69e86a.png)

Note: macOS caches the icons, copy the app to different folder after making the above change. remove the o

[2016-09-14 18:19] BrandonSmith commented on #140
Another fix...

In `Finder` right click on `Mancy.app` and click `Get Info`. Now right click again on `Mancy.app > Show Package Contents > Contents > Resources`. Drag `atom.icns` to the file to the icon in the `Get Info` window. Icon changed at the OS level rather than modifying the `Info.plist`.

Screen record:
http://g.recordit.co/epuJI8XAjM.gif

[2016-09-15 16:48] devsnek opened #149 "app crashes on start with blank error message"
![](https://i.imgur.com/Y43qHS1.png)

[2016-09-15 16:49] princejwesley commented on #149
can you click copy & report button and paste here?

[2016-09-15 17:39] orionlee commented on #144
Or it could be an NPM that ships with core. In that way,
- newer nodejs could get it by default
- while people with older one can still get it
- it can be updated independently from core update.

[2016-09-15 21:57] GusCaplan commented on #149
it doesn't do anything, it's frozen @princejwesley

[2016-09-16 13:44] princejwesley commented on #149
Environment details please

[2016-09-24 05:42] MarkusPfundstein opened #150 "Redclare const / class"
Hi Prince,

awesome REPL! Thanks for the job. I wonder if it is possible to implement a feature so that we can redclare const variables or classes. Right now this fails:

[code]
as well as:
[code]

Which is kinda annoying if you just want to play around with some data types.
The fix in the later example is to just say `g = x => x/0` without let/const, but that is a bit weird..
For the class exampl

[2016-09-24 21:13] princejwesley commented on #150
@MarkusPfundstein `const` and `class` are not really working well within REPL context.
Worst case solution is to provide a way to clear the context or a way to traverse the context backwards.

[2016-09-24 21:17] princejwesley commented on #150
Or an icon in each execution output which will reset the context to that checkpoint.

[2016-09-29 02:40] fuchao2012 opened #151 "while open a object detail, fixed the input console line"
Great tools !

Like describe in the title. show 2 pic to demo the requirement.

![1](https://cloud.githubusercontent.com/assets/5637185/18939189/26875e22-8631-11e6-85c4-3ff68d9d04e1.png)
![2](https://cloud.githubusercontent.com/assets/5637185/18939190/26885a66-8631-11e6-8275-732194acf5cb.png)

if that deserve a PR?

[2016-09-29 14:29] princejwesley commented on #151
Yes, it is. 👍

[2016-10-08 13:46] sbuljac opened #152 "NODE_ENV"
When I try to set `process.env.NODE_ENV = 'development'` it just get blocked.

[2016-10-08 14:20] princejwesley commented on #152
@sbuljac problem is in 'react.js' interaction.

[code]
React will emit warnings to mancy console if we set any value other than 'production'.
[(set here)](
https://github.com/princejwesley/Mancy/blob/cd0bc938dce89a171b09f0862e22d143c8769eb1/src/Startup.js#L3)

Unfortunately process instance is shared between app and user context. I'll look into that

[2016-10-08 15:37] princejwesley commented on #152
Issue is fixed in master.

[2016-10-08 18:51] sbuljac commented on #152
Ok, thx

[2016-10-16 20:05] jordansexton opened #153 "Async/await still fails with Babel and Auto async wrapper enabled"
**Preferences**
<img width="470" alt="screen shot 2016-10-16 at 2 53 15 pm" src="https://cloud.githubusercontent.com/assets/1173161/19420462/67f31b3e-93b1-11e6-8290-cb2f90bf47dd.png">

**REPL**
<img width="1270" alt="screen shot 2016-10-16 at 3 00 07 pm" src="https://cloud.githubusercontent.com/assets/1173161/19420463/6e8d5fb8-93b1-11e6-9a0f-674a58f30035.png">

I tried many variations of these and

[2016-10-16 20:08] jordansexton commented on #153
**REPL**
<img width="1263" alt="screen shot 2016-10-16 at 3 06 58 pm" src="https://cloud.githubusercontent.com/assets/1173161/19420503/4b814808-93b2-11e6-8c81-7e379f0665b0.png">

Also tried wrapping the invocation in an `async` function (in case `await`ing a Promise itself is unsupported).

[2016-10-16 20:12] GamerSolutions commented on #153
@jordansexton is it with master code or latest release? can you try master?

[2016-10-16 20:13] jordansexton commented on #153
Thanks for the quick response! Latest npm release, I'll try master.

[2016-10-16 20:17] GamerSolutions commented on #153
@jordansexton if I remember correctly, latest babel dependency expects some variation that has to be addressed. I mean https://github.com/princejwesley/Mancy/commit/6b0148bb3e7e40f3648791f18e46a211457efc62 one

[2016-10-16 20:24] princejwesley commented on #153
@jordansexton if I remember correctly, latest babel dependency expects some variation that has to be addressed. I mean 6b0148b one

I should have raised a ticket and fixed it. I'll do that next time, very sorry! 😞

*edit*: previously replied from temp/someone's account.

[2016-10-16 20:29] jordansexton commented on #153
That was it, works fine built from master. Thanks for your help and for all your work on this project!

[2016-10-16 20:29] #153 closed

[2016-10-17 19:21] msrose opened #154 "Error when viewing object with null prototype"
Reproduction:
[code]
Trying to "expand" the object by clicking the arrow is fine here - no properties are shown.
[code]
When trying to expand the object now to view its poperties, the following error appears in the console:
[code]
Mancy version is 3.1.0

[2016-11-24 01:12] GusCaplan commented on #149
#### Application Error
##### Message
undefined
##### Stack Trace
[code]

#### System Details
 | …
------------ | -------------
**Platform** | darwin
**Arch** | x64
**Electron Version** | 1.2.6
**Mancy Version** | 3.1.0

as useless as this trace is, i thought i would post it anyway

[2016-11-28 14:44] dadaphl opened #156 "starting Mancy - shows error without error"
![screen shot 2016-11-28 at 15 41 18](https://cloud.githubusercontent.com/assets/415536/20672410/86073064-b581-11e6-9e84-73aad2509d8b.png)
[code]

[2016-12-04 22:33] dchalmers opened #157 "Global Environment display doesn't update for changes to nested objects/arrays"
if I have an array (or another object) nested in an object, and I make a change to that array using the REPL, then the change does not appear in the Global Environment display UNLESS I collapse/expand the object using the triangle.

Sample code:
var myObj = {
  arr: [1,2,3],
  fn: function (val) { this.arr.push(val) }
}

var arr2 = [1,2,3]

myObj.fn(4) // does not update the display in global envi

[2016-12-08 19:06] Imperat opened #159 "There is no hotkey for exit from full screen mode"
Hello! I have gone in full screen mode by click View -> Toggle Full screen mode.
In this mode there is no menu bar (this is logical :). Unfortunately I have some troubles by exit from this mode, because Toggle Full Screen mode option has no any hotkeys. I think is will be better if we can add F11 hotkey for exit from full screen mode.

[2016-12-13 08:33] caoer commented on #129
@princejwesley  hi, instead of port it to ios, I'm thinking maybe we can connect it to [JavascriptCore](https://developer.apple.com/reference/javascriptcore). The command needs to be executed can communicate with iOS through websocket. I can certainly work on it... Not sure about how to execute the command with async. Could you share some thoughts about it?

[2016-12-13 17:47] princejwesley commented on #129
@caoer Instead of passing the code to underlying vm, send to server which will run the code and return the result.

[2017-01-03 21:56] cjus commented on #149
I encountered this issue after changing my mancy config. I changed the Editor Mode from "Notebook" back to "REPL". The app appeared to exit. Then I couldn't seem to restart it. It turned out that the app was running in memory. After using `Activity Monitor` on Mac to kill the process I was then able to start it again.

[2017-01-06 14:15] sibelius commented on #144
I think we can extract a preprocess function from Mancy like this: https://gist.github.com/princejwesley/a66d514d86ea174270210561c44b71ba

from here: https://github.com/princejwesley/Mancy/blob/cd0bc938dce89a171b09f0862e22d143c8769eb1/src/common/ReplInput.js#L43

and add one node repl

I'll post here, if I create a package or a repo example using this idea

[2017-01-06 14:15] #144 closed

[2017-01-23 04:36] bmamouri opened #160 "Installing some packages will fail in Mancy"
I am trying to install `marky-markdown` package, but the installation failed with the following error:

var marky = require("marky-markdown")

#### Application Error
##### Message
Cannot read property 'id' of null
##### Stack Trace
[code]

#### System Details
 | …
------------ | -------------
**Platform** | darwin
**Arch** | x64
**Electron Version** | 1.2.6
**Mancy Version** | 3.1.0

[2017-03-20 17:07] marklabenski commented on #156
Same here
`Darwin MaMcBook-2.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64`

[2017-04-02 07:04] KSXGitHub opened #161 "HTML Preview in Dark Theme"
When I enter html code and open preview, I can barely see the text

![image](https://cloud.githubusercontent.com/assets/11488886/24585126/f9b628a2-17ac-11e7-95c1-4f3240dde1b5.png)

### Suggestion

* Black text in white background

* White text in dark background

[2017-04-06 22:53] #124 closed

[2017-04-26 03:25] jinCN opened #162 "How can I launch Mancy with certain version of node?"
I launched Mancy and I typed process.version, I got "v6.1.0".
How can I config the version of node that Mancy is using?

[2017-04-26 05:47] holyjak commented on #121
Would it be possible to implement this? How difficult is it? It would be really useful!

[2017-04-28 03:51] jinCN opened #163 "Can I save and reload session Globals to a file, instead of saving every commands and replay them?"
I really like the idea of saving and loading sessions in Mancy. But for me the current functionality is with a lot of side effect.
Can I save and reload session Globals to a file, instead of saving every commands and replay them?
Thank you all for your help.

[2017-04-28 09:52] vikeri opened #164 "Tried to require nonexistent npm lib 😅"
#### Application Error
##### Message
Cannot read property 'id' of null
##### Stack Trace
[code]

#### System Details
 | …
------------ | -------------
**Platform** | darwin
**Arch** | x64
**Electron Version** | 1.2.6
**Mancy Version** | 3.1.0

[2017-05-01 03:38] MutableLoss commented on #156
Just received this as well, but it did show the Mancy logo instead of the Electron logo.

**OSX: 10.12.4
Mancy: 3.2.0**

This happened after trying to import a module that had just been installed, and most likely the same issue as #160 . It tried for some time to load the newly installed module from the global node_modules folder, gave this blank error, and then left me with a blank Mancy session.

[2017-05-01 03:59] MutableLoss opened #165 "Feature Request: Manual Module Path"
**Issue**: Module paths are only available to what the Finder can see within OSX

**Expected Results**: Is there a possibility of having the option to type in module paths within OSX, instead of having to explicitly show all hidden folders within the Finder? I tend to use npm prefixes like ~/.npm, or other hidden directories which are not easily found without Mancy.

In the meantime I am using a s

[2017-05-01 04:09] MutableLoss commented on #156
I was able to corner this somewhat to reproduce it. Eventually the modules worked so well it wasn't an issue (I'm stumped). Here are the steps I took:

**pre-requisite**: Make sure to load a new Mancy instance.

**1.** load 'node-fetch' dynamically from a modules path that did not contain node-fetch:

[code]

**2.** dismiss the first error, and watch as it continues to try loading.
**3.** move to

[2017-05-01 04:37] MutableLoss commented on #160
I was just having this issue with node-fetch today.

My error existed because I was trying to load from my npm prefix path ( ~ /.npm). In that path Mancy was try to load the node-fetch folder where it had directories of the installed versions, but it did not have the module itself.

Once I loaded the correct module path (~ /.npm/lib/node_modules) which had the actual node-fetch module, it loaded w

[2017-05-07 16:58] csprance opened #166 "Every command errors with no output"
I've tried installing the latest version of mancy as well as npm i -g mancy and cloning and installing.

<img src="http://www.csprance.com/shots/2017-05-07_37d70782-c5b8-45e1-9042-7be7abfbc22c.png" />

Every single command I type just errors silently and doesn't seem to output anywhere yet it marks each one as an error.

Is there something I'm doing wrong?

System Specs:
* Windows 10 x64
* node 6.

[2017-05-13 19:12] karloluis opened #167 "Use of previous Lodash (or packages) in Mancy's code."
Mancy app makes use of lodash v3.10.1, when using it for REPL the default use of lodash would defer to that instead of the one in /Application Support/mancy/node_modules. Assuming you would want to use the latest package that is in use it might cause problems on reliability according to the version the app uses.

Ex. Mac OS
`.source lodash // Applications/Mancy.app/Contents/Resources/app/node_modu

[2017-05-17 21:17] robahl commented on #140
Fixed in 3.2.0

[2017-05-17 21:17] #140 closed

[2017-05-30 19:15] bijoythomas opened #168 "Setting to always unfold the output?"
Is there a setting to always unfold the output and just show plain JS (without the chart viewer and grid viewer)?

[2017-05-30 19:25] stonegray opened #169 "process.exit() causes blank error"
**Steps to reproduce:**

Open application and execute `process.exit();`

**Expected Behaviour:**

Application exits

**Observed Behaviour:**

Application shows blank error message, does not exit.

[2017-06-09 15:03] chad-lp opened #170 "input history not persisted"
when i run mancy from terminal on macOs ,the following is output:

➜  ~ mancy
➜  ~ [warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken k

[2017-06-15 08:46] danielo515 opened #171 "Error using crypto native module"
#### Application Error
##### Message
Cannot read property 'id' of null
##### Stack Trace
[code]

#### System Details

|  **Platform**  | darwin |
|  **Arch**  | x64 |
| **Electron Version**  | 1.6.2 |
| **Mancy Version**  | 3.2.0 |

The code was as simple as this

[code]

[2017-07-05 22:28] zach-is-my-name opened #172 "How to exit fullscreen?"
In Ubuntu 16.10 I click toggle fullscreen from the menu bar, but am given no hot-key to toggle back from fullscreen to window

[2017-07-05 22:39] zach-is-my-name opened #173 "Cursor in vim normal mode is invisible"

[2017-08-12 04:30] caesar opened #174 "Integrate with Jupyter kernels to allow use with other languages (Python etc)"
It would be really awesome to be able to use Mancy as a replacement for the Jupyter QTConsole – in other words, to be able to use it with Jupyter kernels such as the IPython kernel  and thus be able to use if for languages other than Javascript.

Is this possible, or would it be too major a rewrite...? (I'm not familiar with the current architecture of Mancy.)

[2017-09-26 17:21] alflanagan opened #175 "mancy-re.pl is not reachable"
My browser choked when attempting to access http://mancy-re.pl, so I did some digging. It appears that mancy-re.pl is redirecting to www.mancy-re.pl, and www.mancy-re.pl is redirecting to mancy-re.pl.

[2017-09-26 17:24] princejwesley commented on #175
@alflanagan Yes, I use the github pages 😞

![image](https://user-images.githubusercontent.com/1622515/30874269-6ff9d93c-a30d-11e7-8fd5-7ac4b990a3dc.png)

[2017-09-28 10:56] adw0rd opened #176 "Application Error when require lib"
Run:

#### Application Error
##### Message
Cannot read property 'id' of null
##### Stack Trace
[code]

#### System Details
 | …
------------ | -------------
**Platform** | darwin
**Arch** | x64
**Electron Version** | 1.2.6
**Mancy Version** | 3.1.0

[2017-09-28 10:56] adw0rd commented on #176
When run "mancy" on zsh:

[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0
[warn] kq_init: detected broken kqueue; not using.: Undefined error: 0

---

16.5.0 Darwin

[2017-10-04 14:57] oscar-broman opened #177 "Arrow keys to browse history"
It should be possible to browse the history with the up/down arrow keys. In order not to mess up navigation in multi-line code, it should only browse the history if the marker is at the first/last line.

[2017-10-06 18:38] alflanagan commented on #175
I don't know whether github pages set it up that way or your DSN provider, but it's definitely not working.

[2017-11-15 16:34] dougajmcdonald commented on #102
or `window.console`

[2017-12-14 14:45] muddlebee opened #178 "undefined for console.log( ) output"
How to work around this?

[2018-02-04 03:49] hems opened #179 "Path must be a string but received undefined"
i tried:
`
./Mancy , -l coffescript -s "/Volumes/[...]/workers/app.coffee"
`

but then when Mancy loads it says:
`
Path must be a string. Received undefined + (Path must be a string. Received undefined)
`

any idea?

[2018-04-22 17:05] #149 closed

[2018-07-23 08:11] LoganDark opened #180 "Changes are erased on up arrow."
Fuck you. Not using Mancy again, ever.

[2018-10-15 18:28] mugli opened #181 "Any way to add custom context?"
Is it possible to add custom context to Mancy when it starts? Like some app-specific config, db/models, npm modules etc?

[2019-05-08 22:08] vmarkovtsev opened #182 "await does not work"
My node version is v10.15.3. I run `await func_which_returns_a_promise()` and get

[code]

and `function` is indeed underlined with red in the UI.

[2020-02-05 13:17] tan-wei commented on #166
I met the same issue on Windows. However, almost 3 years pass...

[2020-08-21 10:27] jinCN commented on #162
I forked this repo, supporting newer version of node: https://github.com/jinCN/Mancy